@charset "utf-8";
@import './mixin';

.sel-box {
    position: relative;
    width: px(80);
    height: px(40);
    &::after {
        content: '';
        @include pos($p: absolute, $r: px(10), $t: px(18));
        border: px(4) solid transparent;
        border-top-color: #000;
    }
}
select {
    position: relative;
    padding: 0 px(20) 0 0;
    width: 100%;
    height: 100%;
    border: 1px solid #3498db;
    background-color: #fff;
}
button {
    padding: px(8) px(15);
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}
