@charset "utf-8";
@import './mixin';

body {
    padding: px(20);
    h3 {
        @include font($s: px(20), $w: 800, $c: #000);
    }
    .flex-box {
        display: flex;
        align-items: center;
        gap: px(20);
        margin-top: px(20);
        & > p {
            flex: auto;
            @include font($s: px(16), $w: 700, $c: #333);
        }
    }
    .sel-box {
        position: relative;
        width: px(100);
        height: px(40);
        border: 1px solid #3498db;
        border-radius: px(4);
        overflow: hidden;
        select {
            position: relative;
            padding: 0 px(20) 0 px(10);
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
        &::after {
            content: '';
            @include pos($p: absolute, $r: px(10), $t: px(18));
            border: px(4) solid transparent;
            border-top-color: #000;
        }
    }
    .dashboard {
        display: flex;
        flex-direction: column;
        gap: px(10);
        margin-top: px(20);
    }
    button {
        padding: px(14) px(15);
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: px(4);
        overflow: hidden;
        cursor: pointer;
        &.gray {
            background-color: #999;
        }
    }
    button:disabled {
        background-color: #95a5a6;
        cursor: not-allowed;
    }
}
