@charset "utf-8";
@import './mixin';

.intro {
    .inner {
        width: calc(100% - px(10));        
    }
    .thumbnail {
        position: relative;
        z-index: 1;
        width: px(200);
        height: px(150);
        margin: 0 auto;
        border: px(4) solid var(--color-base4);
        border-right-color: var(--color-base3);
        border-bottom-color: var(--color-base3);
        background-color: var(--color-base4);
    }
}
