@charset "UTF-8";
/* Vision */
.vision-wrap {
  border: 1px solid blue;
  padding: 0 0 12.5rem;
  background-color: #f8f8f8;
}

.vision-video-wrap .inner {
  width: 100%;
}

.vision-dec-wrap {
  margin-top: 6.25rem;
}
.vision-dec-wrap .inner {
  position: relative;
  padding: 3.75rem 0 0 34.375rem;
}
.vision-dec-wrap .inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 23.25rem;
  height: 22.6875rem;
  background: url("../images/info/img_ap_triangle.png") no-repeat center/100% auto;
}
.vision-dec-wrap .inner .logo {
  margin-top: 2.5rem;
}
.vision-dec-wrap .inner .vision-dec-tit {
  display: block;
  font-size: 4.0625rem;
  font-weight: 900;
  line-height: 4.25rem;
  color: #002571;
  letter-spacing: 0;
}
.vision-dec-wrap .inner .vision-dec-txt {
  margin-top: 1.875rem;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #333;
  letter-spacing: 0;
}
.vision-dec-wrap .inner .vision-dec-sub {
  margin-top: 1.25rem;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #333;
  letter-spacing: 0;
}
.vision-dec-wrap .inner .vision-dec-list {
  margin-top: 1.875rem;
  overflow: hidden;
}
.vision-dec-wrap .inner .vision-dec-list .txt-box {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 30px;
}
.vision-dec-wrap .inner .vision-dec-list .txt-box strong {
  display: block;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: #002571;
  letter-spacing: -0.03125rem;
}
.vision-dec-wrap .inner .vision-dec-list .txt-box p {
  position: relative;
  padding-left: 0.625rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #333;
  letter-spacing: -0.03125rem;
}
.vision-dec-wrap .inner .vision-dec-list .txt-box p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  z-index: 1;
  width: 0.1875rem;
  height: 0.1875rem;
  background-color: #333;
}
.vision-dec-wrap .inner .vision-dec-list .txt-box:first-child:before {
  content: "";
  position: absolute;
  right: 1.875rem;
  top: 0;
  z-index: 1;
  width: 0.0625rem;
  height: 100%;
  background-color: #ddd;
}

.vision-cont-wrap {
  margin-top: 6.25rem;
}
.vision-cont-wrap .inner .vision-cont-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-circle {
  position: relative;
  z-index: 1;
  width: 27.5rem;
  height: 27.5rem;
  margin-left: 6.25rem;
  border-radius: 100%;
  -webkit-box-shadow: -1.875rem 1.5625rem 1.875rem 1.25rem rgba(0, 0, 0, 0.15);
          box-shadow: -1.875rem 1.5625rem 1.875rem 1.25rem rgba(0, 0, 0, 0.15);
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-circle .circle span {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 100%;
  background-color: #fff;
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 1.625rem;
  color: #002299;
  letter-spacing: -0.03125rem;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-circle .circle:before {
  content: "";
  position: absolute;
  right: -9.375rem;
  top: 1.875rem;
  z-index: 3;
  width: 19.5rem;
  height: 19.5rem;
  background: url("../images/info/bg_circle_line01.png") no-repeat center/100% auto;
  pointer-events: none;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-circle .circle:nth-child(2) span {
  z-index: 2;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 19.375rem;
  height: 19.375rem;
  padding-bottom: 1.25rem;
  background-color: #00affa;
  color: #fff;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-circle .circle:nth-child(2):before {
  right: -9.6875rem;
  top: 2.25rem;
  z-index: 2;
  background: url("../images/info/bg_circle_line02.png") no-repeat center/100% auto;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-circle .circle:nth-child(3) span {
  z-index: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 1.25rem;
  background-color: #002299;
  color: #fff;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-circle .circle:nth-child(3):before {
  right: -9.6875rem;
  top: 2.5rem;
  z-index: 1;
  background: url("../images/info/bg_circle_line03.png") no-repeat center/100% auto;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-txt {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin-left: 9.375rem;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-txt li {
  position: relative;
  padding-left: 1.5rem;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-txt li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: -0.25rem;
  border-radius: 100%;
  background-color: #002299;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-txt li strong {
  display: block;
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 1.625rem;
  color: #888;
  letter-spacing: -0.03125rem;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-txt li strong span {
  color: #002299;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-txt li p {
  margin-top: 0.625rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #333;
  letter-spacing: -0.03125rem;
}
.vision-cont-wrap .inner .vision-cont-box .vision-cont-txt li ~ li {
  margin-top: 4.375rem;
}

/* Business */
.business-wrap {
  padding: 6.25rem 0;
  background-color: #f8f8f8;
}
.business-wrap .base-sub-tit {
  width: 60rem;
  margin: 0 auto;
}

.business-cont-only {
  margin: 6.25rem auto 0;
}
.business-cont-only ul {
  margin: 2.5rem auto 0;
  background: url("../images/info/img_business_only.png") no-repeat center/auto 100%;
}
.business-cont-only ul li {
  font-size: 0;
  line-height: 0;
  letter-spacing: -62.4375rem;
  text-indent: -62.4375rem;
  color: transparent;
}
.business-cont-only ul::before {
  content: "";
  display: block;
  padding-top: 36%;
}

.business-cont-list {
  margin: 6.25rem auto 0;
}
.business-cont-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
  max-width: 59.375rem;
  width: 100%;
  margin: 2.5rem auto 0;
}
.business-cont-list ul li {
  width: calc((100% - 1.25rem) / 3);
  border-radius: 0.625rem;
  background-color: #fff;
  overflow: hidden;
}
.business-cont-list ul li .txt {
  padding: 0.9375rem 0.3125rem 1.25rem;
}
.business-cont-list ul li .txt strong {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #002299;
  letter-spacing: -0.0625rem;
  text-align: center;
}
.business-cont-list ul li .txt p {
  margin-top: 0.3125rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #666;
  letter-spacing: -0.0625rem;
  text-align: center;
}

/* History */
.history-wrap {
  min-height: 50vh;
  padding: 6.25rem 0;
  background-color: #f8f8f8;
}
.history-wrap .base-sub-tit {
  width: 60rem;
  margin: 0 auto;
}

.history-cont-tab {
  position: relative;
  margin-top: 4.375rem;
  padding-left: 18.75rem;
}
.history-cont-tab .history-cont-btn {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 18.75rem;
}
.history-cont-tab .history-cont-btn li {
  width: 10.625rem;
}
.history-cont-tab .history-cont-btn li a {
  position: relative;
  display: block;
  height: 1.875rem;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.875rem;
  color: #888;
  text-align: center;
}
.history-cont-tab .history-cont-btn li a::before {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 50%;
  width: 0.25rem;
  height: 0.25rem;
  margin-top: -0.125rem;
  border-radius: 100%;
  background-color: #888;
}
.history-cont-tab .history-cont-btn li ~ li {
  margin-top: 0.625rem;
}
.history-cont-tab .history-cont-btn li.on a {
  color: #fff;
  background-color: #002299;
}
.history-cont-tab .history-cont-btn li.on a::before {
  display: none;
}
.history-cont-tab .history-cont-list .his-box {
  display: none;
}
.history-cont-tab .history-cont-list .his-box dl {
  position: relative;
  padding: 0 0 0 8.125rem;
}
.history-cont-tab .history-cont-list .his-box dl dt {
  position: absolute;
  left: 0;
  top: -0.3125rem;
  font-size: 2.375rem;
  font-weight: 400;
  line-height: 1;
  color: #292929;
}
.history-cont-tab .history-cont-list .his-box dl dd {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #666;
}
.history-cont-tab .history-cont-list .his-box dl dd .img-pos {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.history-cont-tab .history-cont-list .his-box dl dd .img-pos img {
  width: 80%;
}
.history-cont-tab .history-cont-list .his-box dl dd .img-pos p {
  word-break: keep-all;
  font-size: 0.875rem;
}
.history-cont-tab .history-cont-list .his-box dl ~ dl {
  padding-top: 3.125rem;
  margin-top: 3.125rem;
  border-top: 0.0625rem solid #e1e1e1;
}
.history-cont-tab .history-cont-list .his-box dl ~ dl dt {
  top: 2.8125rem;
}
.history-cont-tab .history-cont-list .his-box dl:last-child {
  padding-bottom: 3.125rem;
  border-bottom: 0.0625rem solid #e1e1e1;
}
.history-cont-tab .history-cont-list .his-box.show {
  display: block;
}

/* Contact */
.contact-wrap {
  padding: 6.25rem 0;
  background-color: #f8f8f8;
}
.contact-wrap .base-sub-tit {
  margin: 0 auto;
}

.contact-cont-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5.625rem;
}
.contact-cont-map .menu {
  width: 11.25rem;
}
.contact-cont-map .menu li a {
  position: relative;
  display: block;
  padding-left: 0.625rem;
  height: 3.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.125rem;
  color: #333;
}
.contact-cont-map .menu li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.1875rem;
  height: calc(100% - 1.625rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-cont-map .menu li.active a {
  font-weight: 600;
  color: #000;
}
.contact-cont-map .menu li.active a::before {
  background-color: #002299;
}
.contact-cont-map .map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
}
.contact-cont-map .map .map-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  height: 1.5rem;
}
.contact-cont-map .map .map-info .c-name {
  position: relative;
  padding-left: 0.9375rem;
  font-size: 1.125rem;
  font-weight: 600;
}
.contact-cont-map .map .map-info .c-name::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.1875rem;
  height: 1.5rem;
  margin-top: -0.75rem;
  background-color: #002299;
}
.contact-cont-map .map .map-info .c-tel {
  margin-left: 0.3125rem;
  font-weight: 600;
}
.contact-cont-map .map .map-info span {
  font-size: 0.9375rem;
  color: #222;
}
.contact-cont-map .map .con-map {
  position: relative;
  width: 100%;
  height: 33.75rem;
  margin-top: 1.25rem;
  background-color: #eee;
}
.contact-cont-map .map .con-map .custom-type-control {
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10.625rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  border: 0.0625rem solid #919191;
  border-radius: 0.3125rem;
  background-color: #fff;
  overflow: hidden;
}
.contact-cont-map .map .con-map .custom-type-control span {
  display: block;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 4rem;
  height: 100%;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
  background: linear-gradient(#fff, #e6e6e6);
  cursor: pointer;
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #000;
  text-align: center;
}
.contact-cont-map .map .con-map .custom-type-control span#btnAllBranch {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contact-cont-map .map .con-map .custom-type-control span#btnAllBranch.selected_btn {
  background: #002299;
  background: -webkit-gradient(linear, left top, left bottom, from(#002299), to(#005895));
  background: linear-gradient(#002299, #005895);
  color: #fff;
}
.contact-cont-map .map .con-map .custom-type-control span.active {
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#fff));
  background: linear-gradient(#e6e6e6, #fff);
}
.contact-cont-map .map .con-map .custom-type-control span:hover {
  color: #000;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e3e3e3));
  background: linear-gradient(#f5f5f5, #e3e3e3);
}
.contact-cont-map .map .con-map .custom-type-control span.selected_btn {
  background: #425470;
  background: -webkit-gradient(linear, left top, left bottom, from(#425470), to(#5b6d8a));
  background: linear-gradient(#425470, #5b6d8a);
  color: #fff;
}
.contact-cont-map .map .con-map .custom-zoom-control {
  position: absolute;
  left: 0.625rem;
  top: 3.125rem;
  z-index: 2;
  width: 2.25rem;
  height: 5rem;
  border: 0.0625rem solid #919191;
  border-radius: 0.3125rem;
  background-color: #f5f5f5;
  overflow: hidden;
}
.contact-cont-map .map .con-map .custom-zoom-control span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50%;
  cursor: pointer;
}
.contact-cont-map .map .con-map .custom-zoom-control span img {
  width: 50%;
  height: auto;
}
.contact-cont-map .map .con-map .custom-zoom-control span ~ span {
  border-top: 0.0625rem solid #bfbfbf;
}
.contact-cont-map .map .con-map .custom-zoom-control + div > div > div:last-child > div {
  width: 18.75rem !important;
  height: auto !important;
}
.contact-cont-map .map .con-map .custom-zoom-control + div > div > div:last-child > div > img {
  top: 0.625rem !important;
}
.contact-cont-map .map .con-map .custom-zoom-control + div > div > div:last-child > div > div {
  top: 100% !important;
}
.contact-cont-map .map .con-map .custom-zoom-control + div > div > div:last-child > div > div + div {
  position: static !important;
}
.contact-cont-map .map .con-map .overlay-info-box {
  min-width: 12.5rem;
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
}
.contact-cont-map .map .con-map .overlay-info-box .title-row {
  padding-bottom: 0.375rem;
  border-bottom: 0.0625rem solid #ddd;
}
.contact-cont-map .map .con-map .overlay-info-box .title-row .name {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
}
.contact-cont-map .map .con-map .overlay-info-box .info-row {
  padding: 0.375rem 0 0;
}
.contact-cont-map .map .con-map .overlay-info-box .info-row p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.03125rem;
}
.contact-cont-map .map .con-map .overlay-info-box .info-row p br {
  display: none;
}

/* News Room */
.newsroom-wrap {
  padding: 6.25rem 0;
  background-color: #f8f8f8;
}

.newsroom-cont-video {
  position: relative;
  margin-top: 3.125rem;
}
.newsroom-cont-video::before {
  content: "";
  display: block;
  padding-top: 56.5%;
}
.newsroom-cont-video iframe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.newsroom-cont-list {
  margin-top: 4.375rem;
}
.newsroom-cont-list ul {
  border-top: 0.125rem solid #666;
  border-bottom: 0.125rem solid #666;
}
.newsroom-cont-list ul li {
  padding: 0 0.625rem;
}
.newsroom-cont-list ul li > div {
  height: 3.5rem;
}
.newsroom-cont-list ul li > div:not(.subject) {
  max-width: 7.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 3.5rem;
  color: #999;
  text-align: center;
}
.newsroom-cont-list ul li > div.subject {
  max-width: 100%;
  padding: 0 1.25rem 0 1.875rem;
}
.newsroom-cont-list ul li > div.subject a {
  position: relative;
  display: block;
}
.newsroom-cont-list ul li > div.subject a p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.5rem;
  color: #666;
}
.newsroom-cont-list ul li > div.subject a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  width: 0.9375rem;
  height: 0.9375rem;
  margin-top: -0.4375rem;
  background: url("../images/common/ico_arr_small_gray.png") no-repeat center/100% auto;
}
.newsroom-cont-list ul li:hover {
  background-color: #f4f4f4;
}
.newsroom-cont-list ul li ~ li {
  border-top: 0.0625rem solid #ddd;
}
.newsroom-cont-list .pagination {
  margin-top: 1.25rem;
  font-size: 0;
  text-align: center;
}
.newsroom-cont-list .pagination a {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  border: 0.0625rem solid #e2e2e2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #444;
}
.newsroom-cont-list .pagination a:hover {
  border-color: #2944cc;
}
.newsroom-cont-list .pagination a.active {
  font-weight: 700;
  color: #2944cc;
}
.newsroom-cont-list .pagination a ~ a {
  margin-left: 0.125rem;
}

/* 리본카 TV */
.reborntv-wrap {
  padding: 6.25rem 0;
  background-color: #f8f8f8;
}

.reborntv-cont-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.4375rem;
  border: 0.0625rem solid #ddd;
}
.reborntv-cont-menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.reborntv-cont-menu li a {
  display: block;
  height: 3.125rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.125rem;
  color: #666;
  text-align: center;
}
.reborntv-cont-menu li ~ li {
  border-left: 0.0625rem solid #ddd;
}
.reborntv-cont-menu li.on a {
  background-color: #002299;
  color: #fff;
}

.reborntv-cont-video {
  position: relative;
  margin-top: 1.25rem;
  padding-right: 17.5rem;
  border: 0.0625rem solid #ddd;
}
.reborntv-cont-video .play-box {
  width: 100%;
}
.reborntv-cont-video .play-box .video {
  position: relative;
}
.reborntv-cont-video .play-box .video iframe {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.reborntv-cont-video .play-box .video::before {
  content: "";
  display: block;
  padding-top: 56.3%;
}
.reborntv-cont-video .play-box .play-info {
  padding: 1.5625rem;
}
.reborntv-cont-video .play-box .play-info .subject {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #292929;
  word-break: keep-all;
}
.reborntv-cont-video .play-box .play-info .date {
  display: block;
  margin-top: 0.3125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #666;
}
.reborntv-cont-video .list-box {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 17.5rem;
  height: 100%;
  padding: 0.625rem;
}
.reborntv-cont-video .list-box .swiperWrapper {
  height: 100%;
}
.reborntv-cont-video .list-box ul {
  height: 100%;
  padding-right: 0.625rem;
  overflow: hidden;
  overflow-y: auto;
}
.reborntv-cont-video .list-box ul li a {
  position: relative;
  display: block;
  overflow: hidden;
}
.reborntv-cont-video .list-box ul li a .subject {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #fff;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-decoration: underline;
  pointer-events: none;
}
.reborntv-cont-video .list-box ul li a::before {
  content: "";
  display: block;
  padding-top: 56.3%;
}
.reborntv-cont-video .list-box ul li a:hover .subject {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.reborntv-cont-video .list-box ul li ~ li {
  margin-top: 0.625rem;
}

/* 리본카 공모전 */
.compe-wrap {
  padding: 6.25rem 0;
}

/* 채용정보 */
.recruit-wrap {
  padding: 6.25rem 0 0;
  background-color: #f8f8f8;
}
.recruit-wrap .recruit-cont-wrap .base-main-tit p a {
  text-decoration: underline;
}

.recruit-cont-visual {
  margin: 4.8125rem auto 0;
  text-align: center;
}

.recruit-cont-inner {
  margin-top: 4.8125rem;
}
.recruit-cont-inner .base-sub-tit {
  font-size: 1.75rem;
  font-weight: 700;
  color: #000;
}
.recruit-cont-inner .int-txt {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 2rem;
  color: #000;
  text-align: center;
}

.recruit-cont-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
.recruit-cont-down a {
  display: block;
  width: 14.375rem;
  height: 3.4375rem;
  padding: 0 1.75rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  text-align: left;
  background: url("../images/recr/ico_down_arr_gray.png") no-repeat right 1.875rem center/auto #fff;
}
.recruit-cont-down a span {
  position: relative;
  display: inline-block;
  height: 100%;
  padding-right: 1.875rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 3.3125rem;
  color: #292929;
  letter-spacing: -0.03125rem;
  text-align: center;
}
.recruit-cont-down a:last-child {
  width: 11.875rem;
  background: url("../images/recr/ico_email_gray.png") no-repeat right 1.875rem center/auto #394453;
}
.recruit-cont-down a:last-child span {
  color: #fff;
}
.recruit-cont-down a:not(.recruit-cont-down a:last-child):hover {
  border-color: #002299;
  background-color: #002299;
  background-image: url("../images/recr/ico_down_arr_white.png?cache=0");
}
.recruit-cont-down a:not(.recruit-cont-down a:last-child):hover span {
  color: #fff;
}

.recruit-cont-step {
  margin-top: 4.8125rem;
}
.recruit-cont-step ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.75rem 2.375rem;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.recruit-cont-step ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  width: auto;
  height: auto;
}
.recruit-cont-step ul li ~ li {
  position: relative;
}
.recruit-cont-step ul li ~ li:before {
  content: "";
  position: absolute;
  left: -1.75rem;
  top: 50%;
  z-index: 1;
  width: 0.9375rem;
  height: 0.6875rem;
  margin-top: -0.5rem;
  background: url("../images/recr/ico_step_arr.png") no-repeat center/auto 100%;
}
.recruit-cont-step ul li:nth-child(2) .circle {
  background-color: #748499;
}
.recruit-cont-step ul li:nth-child(3) .circle {
  background-color: #536277;
}
.recruit-cont-step ul li:nth-child(4) .circle {
  background-color: #394453;
}
.recruit-cont-step ul li:nth-child(5) .circle {
  background-color: #023150;
}
.recruit-cont-step ul li.active .circle {
  background-color: #0050EB;
}
.recruit-cont-step ul li .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 100%;
  background-color: #9BA5B7;
}
.recruit-cont-step ul li .circle .txt {
  margin-top: 0.625rem;
  word-break: keep-all;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #fff;
  letter-spacing: -0.0125rem;
  text-align: center;
}
.recruit-cont-step ul li .mo-txt {
  display: none;
}

.recruit-cont-how {
  counter-reset: section;
  width: 56.25rem;
  margin: 5.625rem auto 0;
  padding: 0 0 8.125rem;
}
.recruit-cont-how li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3.125rem 0;
}
.recruit-cont-how li:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 41.25rem;
  border-bottom: 1px solid #CECECE;
}
.recruit-cont-how li .tit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.recruit-cont-how li .tit strong {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #000;
  letter-spacing: -0.03125rem;
  text-align: left;
}
.recruit-cont-how li .tit strong:before {
  counter-increment: section;
  content: "0" counter(section) ". ";
  color: #0D59EC;
}
.recruit-cont-how li .txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 41.25rem;
          flex: 0 41.25rem;
}
.recruit-cont-how li .txt p {
  padding-top: 0.1875rem;
  word-break: keep-all;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000;
  letter-spacing: -0.03125rem;
  text-align: left;
}

.recruit-cont-board {
  padding: 6.875rem 0 10.9375rem;
  background-color: #fff;
}
.recruit-cont-board .int-txt {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 2rem;
  color: #000;
  text-align: center;
}
.recruit-cont-board .recruit-board-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5.3125rem;
}
.recruit-cont-board .recruit-board-head p {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #000;
  text-align: center;
}
.recruit-cont-board .recruit-board-head .tab-sort {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1.25rem;
}
.recruit-cont-board .recruit-board-head .tab-sort a {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #BABABA;
}
.recruit-cont-board .recruit-board-head .tab-sort a.active {
  color: #000;
}
.recruit-cont-board .recruit-board-head .tab-sort:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 1rem;
  z-index: 1;
  height: 1rem;
  margin-top: -0.5625rem;
  border-left: 1px solid #ddd;
}
.recruit-cont-board .recruit-board-list {
  margin-top: 0.75rem;
  border-top: 1px solid #000;
}
.recruit-cont-board .recruit-board-list .row {
  position: relative;
  padding: 2.5rem 12.5rem 2.5rem 1.25rem;
  border-bottom: 1px solid #CECECE;
}
.recruit-cont-board .recruit-board-list .row .tit p {
  display: inline-block;
  vertical-align: top;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.625rem;
  color: #000;
}
.recruit-cont-board .recruit-board-list .row .tit .day {
  display: inline-block;
  vertical-align: top;
  height: 1.625rem;
  padding: 0 0.5rem;
  margin-left: 0.25rem;
  border-radius: 0.75rem;
  background-color: #0D59EC;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.625rem;
  color: #fff;
}
.recruit-cont-board .recruit-board-list .row .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.5rem;
}
.recruit-cont-board .recruit-board-list .row .infos span {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #6F6F6F;
}
.recruit-cont-board .recruit-board-list .row .infos span ~ span {
  position: relative;
  margin-left: 0.625rem;
  padding-left: 0.625rem;
}
.recruit-cont-board .recruit-board-list .row .infos span ~ span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  height: 0.75rem;
  margin-top: -0.3125rem;
  border-left: 1px solid #ccc;
}
.recruit-cont-board .recruit-board-list .row .btn {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  width: 10rem;
  height: 3.4375rem;
  margin-top: -1.6875rem;
  border: 1px solid #6E6E6E;
  border-radius: 0.3125rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #000;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.recruit-cont-board .recruit-board-list .row .btn:hover {
  border-color: #0D59EC;
  background-color: #0D59EC;
  color: #fff;
}
.recruit-cont-board .recruit-board-list .row.end .tit * {
  opacity: 0.3;
}
.recruit-cont-board .recruit-board-list .row.end .tit .day {
  display: none;
}
.recruit-cont-board .recruit-board-list .row.end .infos * {
  opacity: 0.3;
}
.recruit-cont-board .recruit-board-list .row.end .btn {
  border: 1px solid #BABABA;
  background-color: #BABABA;
  color: #fff;
  pointer-events: none;
}
.recruit-cont-board .recruit-board-more {
  margin-top: 2.8125rem;
  text-align: center;
}
.recruit-cont-board .recruit-board-more .more {
  position: relative;
  display: inline-block;
  padding-right: 2.1875rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #6F6F6F;
}
.recruit-cont-board .recruit-board-more .more:after {
  content: ">";
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  width: 1.75rem;
  height: 1.75rem;
  margin-top: -0.875rem;
  text-align: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.recruit-bene-wrap {
  margin-top: 3.75rem;
  padding-bottom: 11.25rem;
}
.recruit-bene-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}
.recruit-bene-wrap ul li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 calc((100% - 1.875rem) / 2);
          flex: 0 calc((100% - 1.875rem) / 2);
  border-radius: 1.25rem;
  overflow: hidden;
}
.recruit-bene-wrap ul li > img {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.recruit-bene-wrap ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 74, 173, 0.55);
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.recruit-bene-wrap ul li .box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 3.125rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.recruit-bene-wrap ul li .box .in p {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.125rem;
  color: #fff;
  text-align: left;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.recruit-bene-wrap ul li .box .in:after {
  content: "+";
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  margin-top: 1.25rem;
  border: 0.125rem solid #fff;
  border-radius: 1.625rem;
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.recruit-bene-wrap ul li .box .hover {
  margin-top: 2.5rem;
  -webkit-transform: translateY(1.25rem);
          transform: translateY(1.25rem);
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.recruit-bene-wrap ul li .box .hover p {
  position: relative;
  padding-left: 2.75rem;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: #fff;
  text-align: left;
}
.recruit-bene-wrap ul li .box .hover p ~ p {
  margin-top: 0.625rem;
}
.recruit-bene-wrap ul li.bene01 .hover p {
  background: url("../images/recr/ico_bene_list01_01.png") no-repeat left center/auto 100%;
}
.recruit-bene-wrap ul li.bene01 .hover p:nth-child(2) {
  background-image: url("../images/recr/ico_bene_list01_02.png");
}
.recruit-bene-wrap ul li.bene01 .hover p:nth-child(3) {
  background-image: url("../images/recr/ico_bene_list01_03.png");
}
.recruit-bene-wrap ul li.bene01 .hover p:nth-child(4) {
  background-image: url("../images/recr/ico_bene_list01_04.png");
}
.recruit-bene-wrap ul li.bene01 .hover p:nth-child(5) {
  background-image: url("../images/recr/ico_bene_list01_05.png");
}
.recruit-bene-wrap ul li.bene02 .hover p {
  background: url("../images/recr/ico_bene_list02_01.png") no-repeat left center/auto 100%;
}
.recruit-bene-wrap ul li.bene02 .hover p:nth-child(2) {
  background-image: url("../images/recr/ico_bene_list02_02.png");
}
.recruit-bene-wrap ul li.bene02 .hover p:nth-child(3) {
  background-image: url("../images/recr/ico_bene_list02_03.png");
}
.recruit-bene-wrap ul li.bene02 .hover p:nth-child(4) {
  background-image: url("../images/recr/ico_bene_list02_04.png");
}
.recruit-bene-wrap ul li.bene02 .hover p:nth-child(5) {
  background-image: url("../images/recr/ico_bene_list02_05.png");
}
.recruit-bene-wrap ul li.bene03 .hover p {
  background: url("../images/recr/ico_bene_list03_01.png") no-repeat left center/auto 100%;
}
.recruit-bene-wrap ul li.bene03 .hover p:nth-child(2) {
  background-image: url("../images/recr/ico_bene_list03_02.png");
}
.recruit-bene-wrap ul li.bene03 .hover p:nth-child(3) {
  background-image: url("../images/recr/ico_bene_list03_03.png");
}
.recruit-bene-wrap ul li.bene03 .hover p:nth-child(4) {
  background-image: url("../images/recr/ico_bene_list03_04.png");
}
.recruit-bene-wrap ul li.bene03 .hover p:nth-child(5) {
  background-image: url("../images/recr/ico_bene_list03_05.png");
}
.recruit-bene-wrap ul li.bene04 .hover p {
  background: url("../images/recr/ico_bene_list04_01.png") no-repeat left center/auto 100%;
}
.recruit-bene-wrap ul li.bene04 .hover p:nth-child(2) {
  background-image: url("../images/recr/ico_bene_list04_02.png");
}
.recruit-bene-wrap ul li.bene04 .hover p:nth-child(3) {
  background-image: url("../images/recr/ico_bene_list04_03.png");
}
.recruit-bene-wrap ul li.bene04 .hover p:nth-child(4) {
  background-image: url("../images/recr/ico_bene_list04_04.png");
}
.recruit-bene-wrap ul li.bene04 .hover p:nth-child(5) {
  background-image: url("../images/recr/ico_bene_list04_05.png");
}
.recruit-bene-wrap ul li:hover > img {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.recruit-bene-wrap ul li:hover:before {
  opacity: 1;
}
.recruit-bene-wrap ul li:hover .box .in {
  display: inline-block;
}
.recruit-bene-wrap ul li:hover .box .in p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.125rem;
  text-align: left;
}
.recruit-bene-wrap ul li:hover .box .in p br {
  display: none;
}
.recruit-bene-wrap ul li:hover .box .in:after {
  display: none;
}
.recruit-bene-wrap ul li:hover .box .hover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.recruit-cont-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.875rem;
}
.recruit-cont-benefit li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0.625rem;
  background-color: #F2F2F2;
}
.recruit-cont-benefit li ~ li {
  margin-left: 1.25rem;
}
.recruit-cont-benefit li .bene-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 1.25rem 1.875rem;
}
.recruit-cont-benefit li .bene-box .img {
  width: 4rem;
  margin-right: 0.625rem;
}
.recruit-cont-benefit li .bene-box p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #000;
  letter-spacing: -0.0125rem;
}

/* 기업 윤리 규범, 상담센터, 신고완료 */
.rule-wrap {
  padding: 0 0 7.1875rem;
  overflow: hidden;
}
.rule-wrap .rule-cont-wrap .text-list-cont {
  max-width: 60rem;
  margin: 6.25rem auto 0;
}
.rule-wrap .rule-cont-wrap .text-list-cont + .btn-wrap {
  margin-top: 5rem;
}
.rule-wrap .page-title-img .base-main-tit {
  color: #fff;
}
.rule-wrap .page-title-img .base-main-tit p {
  color: #fff;
}

.consult-wrap,
.consult-apply-wrap,
.consult-comple-wrap {
  padding: 0 0 7.5rem;
}

.cons-tab-wrap {
  margin: 6.25rem auto 0;
}
.cons-tab-wrap .cons-tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid #ccc;
}
.cons-tab-wrap .cons-tab-btn li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cons-tab-wrap .cons-tab-btn li a {
  position: relative;
  display: block;
}
.cons-tab-wrap .cons-tab-btn li a p {
  height: 4.0625rem;
  padding-bottom: 0.125rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4.0625rem;
  color: #000;
  letter-spacing: 0;
  text-align: center;
}
.cons-tab-wrap .cons-tab-btn li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 0;
  height: 0.125rem;
  background-color: #1754C9;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.cons-tab-wrap .cons-tab-btn li.on a {
  pointer-events: none;
}
.cons-tab-wrap .cons-tab-btn li.on a p {
  font-weight: 800;
  color: #1754C9;
}
.cons-tab-wrap .cons-tab-btn li.on a::before {
  width: 100%;
}
.cons-tab-wrap .cons-tab-cont .tab-cont {
  display: none;
}
.cons-tab-wrap .cons-tab-cont .tab-cont.show {
  display: block;
}
.cons-tab-wrap .cons-tab-cont .tab-cont > .btn-wrap {
  margin: 3.75rem auto 0;
}
.cons-tab-wrap .cons-tab-cont .tab-cont .text-list-cont {
  margin-top: 0;
}

.text-list-cont {
  margin-top: 6.25rem;
}
.text-list-cont .flex-row {
  max-width: 1920px;
  margin: 0 auto;
}
.text-list-cont .flex-row ~ .flex-row {
  margin-top: 5rem;
}
.text-list-cont .flex-row.space-big {
  margin-top: 9.375rem;
}
.text-list-cont .tit {
  max-width: 15rem;
}
.text-list-cont .tit.big {
  max-width: 17.5rem;
}
.text-list-cont .tit h3 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.75rem;
  color: #000;
  letter-spacing: 0;
}
.text-list-cont .tit span {
  display: block;
  width: 1.25rem;
  padding-bottom: 0.625rem;
  margin: 0 0 0.9375rem;
  border-bottom: 0.125rem solid #0050EB;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #0050EB;
  letter-spacing: -0.03125rem;
  text-align: center;
}
.text-list-cont .cont {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.text-list-cont .cont > p {
  word-break: keep-all;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #000;
  letter-spacing: -0.01875rem;
}
.text-list-cont .cont > p.base {
  font-weight: 500;
}
.text-list-cont .cont .txt-list {
  margin-top: 1.5625rem;
}
.text-list-cont .cont .txt-list li {
  position: relative;
  padding-left: 1.75rem;
  word-break: keep-all;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #0B0B0B;
  letter-spacing: 0;
}
.text-list-cont .cont .txt-list li ~ li {
  margin-top: 0.3125rem;
}
.text-list-cont .cont .txt-list li span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  letter-spacing: inherit;
}
.text-list-cont .cont .txt-list li p {
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}
.text-list-cont .cont .txt-list li p:first-child {
  margin-top: 0.125rem;
}
.text-list-cont .cont .txt-list.dotted li {
  padding-left: 1.125rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: #000;
  letter-spacing: -0.01875rem;
}
.text-list-cont .cont .txt-list.dotted li p {
  font-weight: 400;
  color: inherit;
}
.text-list-cont .cont .txt-list.dotted li:before {
  content: "";
  position: absolute;
  left: 0.3125rem;
  top: 0.8125rem;
  z-index: 1;
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 100%;
  background-color: #000;
}
.text-list-cont .cont .info-list {
  border-top: 0.125rem solid #333;
  border-bottom: 0.0625rem solid #ddd;
}
.text-list-cont .cont .info-list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding: 2.8125rem 0 2.8125rem 9.0625rem;
}
.text-list-cont .cont .info-list li ~ li {
  border-top: 0.0625rem solid #ddd;
  padding-right: 1.25rem;
}
.text-list-cont .cont .info-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  background: url("../images/eth/ico_consult_01.png") no-repeat center/100% auto;
}
.text-list-cont .cont .info-list li.email:before {
  background-image: url("../images/eth/ico_consult_02.png");
}
.text-list-cont .cont .info-list li.address:before {
  background-image: url("../images/eth/ico_consult_03.png");
}
.text-list-cont .cont .info-list li .box {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.text-list-cont .cont .info-list li .box strong {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #000;
  letter-spacing: -0.0125rem;
}
.text-list-cont .cont .info-list li .box p {
  margin-top: 0.625rem;
  word-break: keep-all;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: #666;
  letter-spacing: -0.03125rem;
}
.text-list-cont .cont .info-list li .box.btn-wrap {
  -webkit-box-flex: 1;
      -ms-flex: auto 0;
          flex: auto 0;
}
.text-list-cont .cont .txt-btn-wrap {
  margin-top: 2.5rem;
}
.text-list-cont .cont .txt-btn-wrap a {
  position: relative;
  display: inline-block;
  padding-right: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #000;
  letter-spacing: 0;
}
.text-list-cont .cont .txt-btn-wrap a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.75rem;
  border-radius: 100%;
  background: url("../images/common/ico_arr_round.png") no-repeat center/auto #EDEDED;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.text-list-cont .cont .txt-btn-wrap a:hover::after {
  background-color: #333;
  background-image: url("../images/common/ico_arr_round_on.png");
}
.text-list-cont.type2 {
  border-bottom: 0.0625rem solid #ddd;
}
.text-list-cont.type2 .flex-row {
  margin: 0;
  padding: 4.375rem 0;
}
.text-list-cont.type2 .flex-row ~ .flex-row {
  border-top: 0.0625rem solid #ddd;
}
.text-list-cont.type2 .flex-row .flex-col.cont {
  position: relative;
  padding-left: 8.125rem;
}
.text-list-cont.type2 .flex-row .flex-col.cont > p {
  font-weight: 700;
}
.text-list-cont.type2 .flex-row .flex-col.cont .ico {
  position: absolute;
  left: 0;
  top: 0;
}
.text-list-cont.type2 .flex-row .flex-col.cont .txt-list {
  margin-top: 1.25rem;
}

/* 상담 */
.apply-form-wrap > div ~ div {
  margin-top: 5rem;
}
.apply-form-wrap .apply-info-cont .apply-info-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.75rem 1.25rem;
}
.apply-form-wrap .apply-info-cont .apply-info-txt ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.apply-form-wrap .apply-info-cont .apply-info-txt ul li {
  position: relative;
  padding-left: 0.9375rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: #000;
  letter-spacing: 0;
}
.apply-form-wrap .apply-info-cont .apply-info-txt ul li:before {
  content: "";
  position: absolute;
  left: 0.3125rem;
  top: 0.875rem;
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 100%;
  background-color: #000;
}
.apply-form-wrap .apply-form-cont {
  margin-top: 3.75rem;
}
.apply-form-wrap .apply-form-cont .apply-form-box ~ .apply-form-box {
  margin-top: 3.75rem;
}
.apply-form-wrap .apply-form-cont .apply-form-box .apply-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #000;
  letter-spacing: 0;
}
.apply-form-wrap .apply-form-cont .apply-form-box .apply-form-inner {
  margin-top: 0.625rem;
  border-top: 0.125rem solid #000;
  border-bottom: 0.0625rem solid #ccc;
}
.apply-form-wrap .apply-form-cont .apply-form-box .apply-form-inner .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
  padding: 0.9375rem 0 0.9375rem 0.625rem;
}
.apply-form-wrap .apply-form-cont .apply-form-box .apply-form-inner .form-row ~ .form-row {
  border-top: 0.0625rem solid #ccc;
}
.apply-form-wrap .apply-form-cont .apply-form-box .apply-form-inner .form-row .tit {
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  width: 12.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #000;
  letter-spacing: 0;
}
.apply-form-wrap .apply-form-cont .apply-form-box .apply-form-inner .form-row .cont {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}
.apply-form-wrap .apply-form-cont .form-file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.apply-form-wrap .apply-form-cont .form-file-upload .btn-wrap {
  width: 6.875rem;
}
.apply-form-wrap .apply-form-cont .form-file-upload .btn-wrap button {
  width: 100%;
}
.apply-form-wrap .apply-form-cont .form-file-upload .attch {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.apply-form-wrap .apply-form-cont .form-file-upload .attch p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #000;
  letter-spacing: -0.01875rem;
}
.apply-form-wrap .apply-form-cont .form-file-upload .attch .paste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem 1.25rem;
}
.apply-form-wrap .apply-form-cont .form-file-upload .attch .paste li {
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  position: relative;
  padding-right: 1.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #000;
  letter-spacing: -0.01875rem;
}
.apply-form-wrap .apply-form-cont .form-file-upload .attch .paste li .del {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../images/common/ico_file_del.png") no-repeat center/auto;
  font-size: 0;
  line-height: 0;
  letter-spacing: -62.4375rem;
  text-indent: -62.4375rem;
  color: transparent;
}
.apply-form-wrap .apply-agree-cont .agree-chk-box .agree-txt {
  color: #3c3c3c;
}

.agree-chk-box {
  padding: 2.5rem;
  border: 0.0625rem solid #EDEDED;
  border-radius: 0.3125rem;
  background-color: #FAFAFA;
}
.agree-chk-box .agree-txt {
  word-break: keep-all;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #000;
}
.agree-chk-box .agree-txt strong {
  font-weight: 700;
}
.agree-chk-box .agree-txt ul {
  margin: 0.625rem auto 1.25rem;
}
.agree-chk-box .agree-txt ul li {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #3c3c3c;
}
.agree-chk-box .agree-chk {
  margin: 1.875rem 0 0;
  padding: 1.25rem 0 0;
  border-top: 0.0625rem solid #E0E0E0;
}
.agree-chk-box .agree-chk.bd-bottom {
  margin: 0 0 1.25rem;
  padding: 0 0 0.9375rem;
  border-top: 0;
  border-bottom: 0.0625rem solid #E0E0E0;
}

.comple-txt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  max-width: 75rem;
  height: 31.25rem;
  margin: 6.5rem auto 0;
  text-align: center;
  border: 0.0625rem solid #EDEDED;
  border-radius: 0.3125rem;
  background-color: #FAFAFA;
}
.comple-txt-wrap::before {
  content: "";
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background: url("../images/eth/ico_cons_comple.png") no-repeat center/100% auto;
}
.comple-txt-wrap p {
  word-break: keep-all;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #000;
  letter-spacing: 0;
}

.base-layer-pop {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  display: none;
  width: calc(100% - 2.5rem);
  max-width: 23.75rem;
  padding: 1.875rem 1.25rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.625rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.base-layer-pop .base-layer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.base-layer-pop .base-layer-inner p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #000;
  letter-spacing: -0.03125rem;
  text-align: center;
}
.base-layer-pop .base-layer-inner .btn-wrap {
  margin-top: 1.5625rem;
}
.base-layer-pop .base-layer-inner .btn-wrap a {
  min-width: 7.5rem;
  height: 2.5rem;
  border-color: #0096ff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2.375rem;
  color: #0096ff;
  letter-spacing: -0.03125rem;
  text-align: center;
}
.base-layer-pop .base-layer-inner .btn-wrap a:hover {
  background-color: #0096ff;
  color: #fff;
}

.company-wrap .title {
  text-align: center;
}
.company-wrap .title h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
  letter-spacing: 0;
}
.company-wrap .title p {
  margin-top: 1.875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  color: #636363;
  letter-spacing: 0;
}
.company-wrap .title p strong {
  display: block;
  margin-top: 1.875rem;
  font-weight: 600;
  color: #000;
}
.company-wrap .cont-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}
.company-wrap .cont-half .col {
  border: 1px solid red;
}
.company-wrap .cont-half .col.wide {
  -webkit-box-flex: 0;
      -ms-flex: 0 100%;
          flex: 0 100%;
  padding: 6.25rem 0;
}
.company-wrap .cont-half .col.tit {
  -webkit-box-flex: 0;
      -ms-flex: 0 18.75rem;
          flex: 0 18.75rem;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #939393;
  letter-spacing: 0;
}
.company-wrap .cont-half .col.tit strong {
  font-weight: 700;
}
.company-wrap .cont-half .col.cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 calc(100% - 18.75rem);
          flex: 0 calc(100% - 18.75rem);
}
.company-wrap .company-info {
  padding-top: 10rem;
}

.company-tab-wrap {
  width: 100%;
}
.company-tab-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 2.5rem;
  width: 100%;
  height: 3.75rem;
  background-color: #ededed;
}
.company-tab-wrap ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
}
.company-tab-wrap ul li ~ li {
  position: relative;
}
.company-tab-wrap ul li ~ li:before {
  content: "";
  position: absolute;
  left: -1.25rem;
  top: 50%;
  width: 1px;
  height: 0.75rem;
  margin-top: -0.375rem;
  background-color: #aaa;
  pointer-events: none;
}
.company-tab-wrap ul li a {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #333;
  letter-spacing: 0;
}