.area-list-wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.area-list-wrapper .area-btn {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 3px));
  grid-gap: 4px;
}

.area-list-wrapper .area-btn li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 2px;
  border-radius: 4px;
  background-color: #F6F6F6;
  cursor: pointer;
}

.area-list-wrapper .area-btn li.active {
  border: 1px solid #2944CC;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  color: #2944CC;
}

.area-list-wrapper .area-btn li.active:before {
  content: "";
  position: absolute;
  right: 3px;
  top: 3px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: url("/resources/images/new_common/icon_service_minus.png") no-repeat center/100% auto;
}

.area-list-wrapper .area-btn li.active p {
  font-weight: 700;
  color: #2944CC;
}

.area-list-wrapper .area-btn li p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  color: #292929;
  pointer-events: none;
  letter-spacing: -0.2px;
}

.area-list-wrapper .area-list {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}

.area-list-wrapper .area-list li {
  display: none;
  padding: 20px 0;
  text-align: left;
}

.area-list-wrapper .area-list li.show {
  display: block;
}

.area-list-wrapper .area-list li:first-child {
  border-top: 1px solid #ddd;
}

.area-list-wrapper .area-list li ~ li {
  border-top: 1px solid #ddd;
}

.area-list-wrapper .area-list li .area-tit {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #222;
}

.area-list-wrapper .area-list li .area-tit > br {
  display: none;
}

.area-list-wrapper .area-list li .box {
  margin-top: 10px;
}

.area-list-wrapper .area-list li .box .row {
  display: flex;
  flex-wrap: wrap;
}

.area-list-wrapper .area-list li .box .row .col {
  position: relative;
  flex: 1;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #002299;
}

.area-list-wrapper .area-list li .box .row .col:first-child {
  flex: 0 70px;
}

.area-list-wrapper .area-list li .box .row .col:first-child:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 13px;
  height: 13px;
  background: url("/resources/images/new_common/icon_service_pos.png") no-repeat center/100% auto;
}

.area-list-wrapper .area-list li .box .row .col + .col {
  margin-left: 8px;
  padding-left: 0;
  color: #333;
  word-break: keep-all;
}

.area-list-wrapper .area-list li .box .row ~ .row {
  margin-top: 10px;
}

.area-list-wrapper .area-list li .box .row ~ .row .col {
  color: #999;
}

.area-list-wrapper .area-list li .box .row ~ .row .col:first-child:before {
  content: "";
  background-image: url("/resources/images/new_common/icon_service_impos.png");
}

.area-list-wrapper .area-list li .box .empty {
  display: none;
}

.area-list-wrapper #seviceReset {
  display: none;
  width: 165px;
  height: 50px;
  margin: 30px auto 0;
  border-radius: 30px;
  background-color: #666;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.area-list-wrapper #seviceReset:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-right: 2px;
  background: url("/resources/images/new_common/icon_service_reset.png") no-repeat center/auto 100%;
}