@charset "utf-8";
@import '../../../common/scss/mixin';

#container {
    .counter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        pointer-events: none;
        .timeWrap {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: px(30);
            width: px(400);
            height: px(200);
            margin: 0 auto;
            p {
                font-size: px(16);
                color: #fff;
                span {
                    margin-right: px(10);
                    font-size: px(20);
                    font-weight: 600;
                    color: inherit;
                }
            }
        }
    }
}