@charset "utf-8";
@import './var';
@import './mixin';

body {
    position: relative;
    background-color: var(--color-base1);
    overflow-x: hidden;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
}
#container {
    position: relative;
    z-index: 1;
    padding-top: px(64);
    transition: transform var(--trans-duration) var(--ease-in-out-quad);
    &::after {
        content: '';
        @include pos($p: fixed, $l : 0, $t: 0, $z: 1);
        width: 100%;
        height: 100%;
        background-color: var(--shadow-base01);
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,.1) 0%, rgba(255,255,255,0) 100%);
        pointer-events: none;
    }
}
#header {
    @include pos($p: fixed, $l: 0, $t: 0, $z: 10);
    @include centerElm();
    width: 100%;
    padding: px(20);
    background-color: #fff;
    box-shadow: 0 px(3) px(4) var(--shadow-base01);
    h1 {
        @include font($s: px(20), $w: 900, $l: 1.2, $a: center, $t: px(-.5), $c: var(--color-black));
    }
    #nav-chk {
        display: none;
        &:checked + .nav-btn {
            span:nth-child(1) {
                transform: translate(px(5), px(1)) rotateZ(45deg);
            }
            span:nth-child(2) {
                transform: translateX(px(-32));
            }
            span:nth-child(3) {
                transform: translateX(px(5)) rotate(-45deg);
            }
        }
    }
    .nav-btn {
        @include pos($p: absolute, $l: px(20), $t: 50%);
        @include centerElm($d: column, $j: space-between);
        width: px(32);
        height: px(24);
        padding: px(2) 0;
        margin-top: px(-12);
        overflow: hidden;
        cursor: pointer;
        span {
            width: px(24);
            height: px(3);
            border-radius: 2px;
            background-color: var(--color-black);
            transition: transform var(--trans-duration) var(--ease-in-out-quad);
            &:nth-child(1) {
                transform-origin: 0 0;
            }
            &:nth-child(3) {
                transform-origin: 0 100%;
            }
        }
    }
    &:has(#nav-chk:checked) + .nav-wrap {
        transform: translateX(0);
    }
    &:has(#nav-chk:checked) ~ #container, 
    &:has(#nav-chk:checked) ~ .guide-line {
        transform: translateX(px(300));
    }
    &:has(#nav-chk:checked) ~ #container::after {
        pointer-events: auto;
    }
}