@import 'var';
@import 'mixin';

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: px(50);
    background-color: #ccc;
    transition-duration: .4s;
    &:before {
        content: 'HEADER';
    }
    &.fixed {
        position: fixed;
        z-index: 1;
    }
    &.hide {
        transform: translateY(px(-50));
    }
}

.subHead {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: px(50);
    background-color: #ddd;
    transition-duration: .4s;
    &.fixed {
        position: fixed;
        z-index: 1;
    }
    &.hide {
        transform: translateY(px(-50));
    }
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: px(50);
    background-color: #ccc;
    &:before {
        content: 'FOOTER';
    }
}

.box {
    position: relative;
    padding-left: px(50);
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: px(50);
    height: px(150);
    background-color: #aaa;
    &:before {
        content: 'SIDE';
        writing-mode: vertical-rl;
        color: #fff;
    }
    &.fixed {
        position: fixed;
    }
    &.absolBot {
        position: absolute;
        top: auto;
        bottom: 0; 
    }
}

.dummy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: px(200);
    background-color: #eee;
    &:before {
        content: 'Dummy';
    }
}
