@charset "utf-8";
@import '../../../common/scss/mixin';

#container {
    padding: px(20);
    .word {
        max-width: px(320);
        margin: 0 auto;
        table {
            width: 100%;
            border: px(1) solid #ccc;
            tbody {
                &.write {
                    tr:not(.addCon):not(.plus) {
                        td span {
                            position: relative;
                            padding-right: px(20);
                            button {
                                right: 0;
                            }
                        }
                    }
                }
                ~ tbody {
                    border-top: px(1) solid #ccc;
                    background-color: #eee;
                    tr td {
                        text-align: right;
                        span {
                            border-color: #fff;
                        }
                    }
                }
                tr {
                    ~ tr {
                        border-top: px(1) solid #ddd;
                    }
                    th, td {
                        padding: px(15);
                    }
                    th {
                        position: relative;
                        border-right: px(1) solid #ddd;
                    }
                    td {
                        span {
                            display: block;
                            height: px(24);
                            border-bottom: 2px solid #eee;
                        }
                        input {
                            width: 100%;
                            height: 100%;
                            text-align: right;
                            &:focus {
                                outline: 1px solid red;
                            }
                        }
                    }
                    button {
                        position: relative;
                        width: px(16);
                        height: px(16);
                        padding: 0;
                        margin: 0;
                        border-radius: px(16);
                        border: px(1) solid #000;
                        font-size: 0;
                        &:before, &:after {
                            content: '';
                            @include pos($p: absolute, $l: 50%, $t: 50%, $z: 1);
                            width: px(10);
                            height: px(2);
                            transform: translate(-50%, -50%);
                            background-color: #000;
                        }
                        &:after {
                            transform: translate(-50%, -50%) rotate(-90deg);
                        }
                        &.del, &.delInp {
                            @include pos($p: absolute, $r: px(10), $t: 50%, $z: 1);
                            transform: translateY(-50%);
                            &:before {
                                transform: translate(-50%, -50%) rotate(45deg);
                            }
                            &:after {
                                transform: translate(-50%, -50%) rotate(-45deg);
                            }
                        }
                        &:focus {
                            outline: 1px solid red;
                        }
                    }
                    .flex {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        .f-col {
                            flex: 1;
                            ~ .f-col {
                                flex: none;
                                margin-left: px(20);
                            }
                        }
                    }
                    &.addCon {
                        td {
                            input {
                                display: inline-block;
                                vertical-align: middle;
                                height: px(24);
                                border-bottom: 2px solid #eee;
                            }
                            button {
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                    &.plus {
                        background-color: #eee;
                        td span {
                            border-color: #fff;
                        }
                    }
                    &.etc {
                        background-color: #000;
                        span {
                            border: 0;
                            line-height: px(24);
                            color: #fff;
                        }
                    }
                }
            }
        }
        .writeBtn, .resultBtn {
            display: block;
            width: 100%;
            max-width: px(200);
            margin: px(30) auto 0;
        }
    }
}
