.modern-wrapper {
  position: relative;
  margin: 0;
  width: auto;
  height: auto;
}
.modern-wrapper .modern-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.modern-wrapper .modern-container .modern-list {
  display: flex;
  width: 100%;
  height: 100%;
  transition-timing-function: var(--ease-in-out-quad);
  transform: translateX(0);
}
.modern-wrapper .modern-container .modern-list .modern-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border: 0.375rem solid var(--color-white);
  font-size: 1.25rem;
}
.modern-wrapper .modern-container .modern-list .modern-item.active [data-action-motion=overlay-txt] .cover {
  animation-name: overlay;
}
.modern-wrapper .modern-container .modern-list .modern-item.active [data-action-motion*=slide] {
  transform: translate(0, 0);
  transition-duration: 1.5s;
  transition-delay: 0s;
  opacity: 1;
}
.modern-wrapper .modern-container .modern-list .modern-item.active [data-action-motion*=scale] {
  transform: scale(1);
  transition-duration: 1.5s;
  transition-delay: 0s;
  opacity: 1;
}
.modern-wrapper .modern-container .modern-list .modern-item.active [data-action-motion*=fade] {
  transform: scale(1);
  transition-duration: 1.5s;
  transition-delay: 0s;
  opacity: 1;
}
.modern-wrapper.vertical {
  width: 100%;
  height: calc(100vh - 4rem);
}
.modern-wrapper.vertical .modern-container {
  width: 100%;
  height: 100%;
}
.modern-wrapper.vertical .modern-container .modern-list {
  flex-direction: column;
  transform: translateY(0);
}
.modern-wrapper.vertical .modern-container .modern-list .modern-item {
  padding: 1.25rem;
}

.modern-pagination {
  counter-reset: count;
  display: block;
  margin: 0.625rem auto 0;
  text-align: center;
}
.modern-pagination span {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  line-height: 0;
  border-radius: 100%;
  background-color: #eee;
  cursor: pointer;
}
.modern-pagination span:before {
  counter-increment: count;
  content: counter(count);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--color-gray9);
  display: inline-block;
}
.modern-pagination span.active {
  background-color: var(--color-black);
}
.modern-pagination span.active:before {
  color: var(--color-white);
}
.modern-pagination span ~ span {
  margin-left: 0.375rem;
}
.modern-pagination.progress {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.25rem;
  height: 100%;
  margin: 0;
  background-color: var(--color-base3);
}
.modern-pagination.progress span {
  position: relative;
  width: 100%;
  height: 0;
  border-radius: 0;
  background-color: var(--color-base4);
  overflow: hidden;
}
.modern-pagination.progress span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--color-dark3), var(--color-dark9));
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  color: transparent;
}

.modern-button {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: 0.0625rem solid var(--color-base3);
  transform: translateY(-50%);
  transition-duration: 0.2s;
  cursor: pointer;
}
.modern-button:before {
  font-size: 0;
  line-height: 0;
  color: transparent;
}
.modern-button[class*=prev] {
  background-image: url("../images/ico_arr_left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.875rem;
  background-color: var(--color-base2);
  left: calc((100% - 18.75rem) / 2 - 1.25rem);
}
.modern-button[class*=prev]:before {
  content: "prev";
}
.modern-button[class*=next] {
  background-image: url("../images/ico_arr_right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.875rem;
  background-color: var(--color-base2);
  right: calc((100% - 18.75rem) / 2 - 1.25rem);
}
.modern-button[class*=next]:before {
  content: "next";
}
.modern-button.none {
  pointer-events: none;
  opacity: 0.2;
}