.page-wrapper .inner {
  width: calc(100% - 0.625rem);
}
.page-wrapper .img-cover {
  position: relative;
  width: 18.75rem;
  margin: 1.25rem auto 0;
  border-radius: 0.25rem 0 0.25rem 0;
  box-shadow: 0 0.25rem 0.5rem var(--shadow-base01);
  overflow: hidden;
  text-align: center;
}
.page-wrapper .thumbnail {
  position: relative;
  z-index: 1;
  width: 12.5rem;
  height: 9.375rem;
  margin: 0 auto;
  border: 0.25rem solid var(--color-base4);
  border-right-color: var(--color-base3);
  border-bottom-color: var(--color-base3);
  background-color: var(--color-base4);
}