/* animation set */
[data-motion=slide-up] {
  transform: translateY(2.5rem);
  -webkit-transform: translateY(2.5rem);
  opacity: 0;
}

[data-motion=slide-down] {
  transform: translateY(-2.5rem);
  -webkit-transform: translateY(-2.5rem);
  opacity: 0;
}

[data-motion=slide-left] {
  transform: translateX(-2.5rem);
  -webkit-transform: translateX(-2.5rem);
  opacity: 0;
}

[data-motion=slide-right] {
  transform: translateX(2.5rem);
  -webkit-transform: translateX(2.5rem);
  opacity: 0;
}

[data-motion=scale-up] {
  text-align: center;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  opacity: 0.9;
}

[data-motion=scale-down] {
  text-align: center;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  opacity: 0.9;
}

[data-motion=text-up] .txt {
  display: inline-block;
  transform: translateY(1.25rem) scale(0.85);
  -webkit-transform: translateY(1.25rem) scale(0.85);
  opacity: 0;
}

[data-motion=text-down] .txt {
  display: inline-block;
  transform: translateY(-1.25rem) scale(0.85);
  -webkit-transform: translateY(-1.25rem) scale(0.85);
  opacity: 0;
}

@keyframes overlay {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}