<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Language" content="ko-KR">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" type="image/x-icon" href="../resources/images/favicon.ico">
    <link rel="stylesheet" href="../resources/css/fonts.css">
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="stylesheet" href="../resources/css/swiper.min.css">
    <link rel="stylesheet" href="../resources/css/common.css">
    <link rel="stylesheet" href="../resources/css/contents.css"/>
    <link rel="stylesheet" href="../resources/css/mediaScreen.css">
    <title>오토플러스 - Recruit</title>
</head>
<body>
    <!-- header -->
    <header id="header">
        <div class="inner">
            <h1 class="header-logo">
                <a href="../info/vision.html">
                    <img src="../resources/images/common/logo_autoplus.png" alt="오토플러스 윤리경영">
                </a>
            </h1>
            <!-- mobile 전용 버튼 -->
            <div class="m-all-btn pc-hide">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="gnb-wrapper">
                <div class="gnb-wrap">
                    <!-- mobile 전용 문구 -->
                    <h2 class="pc-hide">오토플러스 회사 소개</h2>
                    <ul>
						<li class="depth1">
							<a th:href="../info/vision.html">오토플러스 소개</a>
							<div class="depth2">
								<ul>
									<li><a th:href="../info/vision.html">Vision</a></li>
									<li><a th:href="../info/business.html">Business</a></li>
									<li><a th:href="../info/history.html">History</a></li>
									<li><a th:href="../info/contact.html">Contact</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a th:href="../pr/news.html">PR센터</a>
							<div class="depth2">
								<ul>
									<li><a th:href="../pr/news.html">NewsRoom</a></li>
									<li><a th:href="../pr/tv.html">리본카 TV</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a th:href="../eth/rule.html">윤리경영</a>
							<div class="depth2">
								<ul>
									<li><a th:href="../eth/rule.html">기업 윤리 규범</a></li>
									<li><a th:href="../eth/consult.html">기업 윤리 상담센터</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a th:href="../recr/recruit.html">채용정보</a>
							<div class="depth2">
								<ul>
									<li><a th:href="../recr/recruit.html">리크루트</a></li>
									<li><a th:href="../recr/welfare.html">직원복지</a></li>
								</ul>
							</div>
						</li>
					</ul>
                    <div class="reborn-move">
                        <a href="https://autoplus.co.kr/" target="_blank">
                            <img src="../resources/images/common/logo_reborn.png" alt="리본카 바로가기">
                            <p>리본카 바로가기</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- // -->
    
    <!-- container -->
    <div id="container" class="recruit-wrap">
        <section class="recruit-cont-wrap">
            <!-- # 23.12.21 : 퍼블 -->
            <div class="inner">
                <h2 class="base-main-tit" data-motion="slide-up" data-duration="1" data-delay="0">
					리크루트
					<p>오토플러스와 함께 미래를 만들어 갈 오플人을 찾습니다.</p>
				</h2>
                <div class="recruit-cont-inner"  data-motion="slide-up" data-duration="1" data-delay=".4">
                    <div class="recruit-cont-down">
                        <a href="#"><span>신입, 경력 지원서 양식</span></a>
                        <a href="#"><span>인턴지원서 양식</span></a>
                        <a href="javascript: layerPopOpen('#layer-inquiry');"><span>채용 관련 문의</span></a>
                    </div>
                </div>
            </div>
            <div class="recruit-cont-visual" data-motion="slide-up" data-duration="1" data-delay=".8"><img src="../resources/images/recr/img_recruit_visual.png"></div>
            <div class="inner">
                <div class="recruit-cont-inner" data-motion="slide-up" data-duration="1" data-delay=".4">
                    <p class="int-txt">오토플러스 합류 여정을 알려드릴게요.<br>오토플러스와 함께 미래를 만들어 갈 과정을 함께해 주세요.</p>
                    <div class="recruit-cont-step">
                        <div class="swiper-container">
                            <ul class="swiper-wrapper">
                                <li class="step01 swiper-slide">
                                    <div class="circle">
                                        <div class="in">
                                            <div class="img"><img src="../resources/images/recr/img_recruit_step01.png" alt=""></div>
                                            <p class="txt">지원서 제출</p>
                                        </div>
                                    </div>
                                    <p class="mo-txt"><span class="num">STEP 1</span>나는 어떤 사람인지 알려주세요. <br>오토플러스와 함께하기 위해 나를 알릴 수 있는 내용이라면 무엇이든 좋습니다. <br>(소중한 개인정보보호를 위해 이력과 무관한 개인정보는 기재하지 말아주세요.)</p>
                                </li>
                                <li class="step02 swiper-slide">
                                    <div class="circle">
                                        <div class="in">
                                            <div class="img"><img src="../resources/images/recr/img_recruit_step02.png" alt=""></div>
                                            <p class="txt">인적성 검사</p>
                                        </div>
                                    </div>
                                    <p class="mo-txt"><span class="num">STEP 2</span>지원하신 분을 보다 다방면에서 판단하기 위해 인적성 검사를 진행해요.</p>
                                </li>
                                <li class="step03 swiper-slide">
                                    <div class="circle">
                                        <div class="in">
                                            <div class="img"><img src="../resources/images/recr/img_recruit_step03.png" alt=""></div>
                                            <p class="txt">1차 인터뷰</p>
                                        </div>
                                    </div>
                                    <p class="mo-txt"><span class="num">STEP 3</span>지원하신 분의 역량을 심층적으로 평가하기 위해 실무진 및 임원 인터뷰를 진행해요.<br>(제출하신 지원서 검토 후 개별 연락을 드리며 포지션에 따라 인터뷰는 2차까지 진행 될 수 있어요.)</p>
                                </li>
                                <li class="step04 swiper-slide">
                                    <div class="circle">
                                        <div class="in">
                                            <div class="img"><img src="../resources/images/recr/img_recruit_step04.png" alt=""></div>
                                            <p class="txt">2차 인터뷰</p>
                                        </div>
                                    </div>
                                    <p class="mo-txt"><span class="num">STEP 4</span>지원하신 분의 역량을 심층적으로 평가하기 위해 실무진 및 임원 인터뷰를 진행해요.<br>(제출하신 지원서 검토 후 개별 연락을 드리며 포지션에 따라 인터뷰는 2차까지 진행 될 수 있어요.)</p>
                                </li>
                                <li class="step05 swiper-slide">
                                    <div class="circle">
                                        <div class="in">
                                            <div class="img"><img src="../resources/images/recr/img_recruit_step05.png" alt=""></div>
                                            <p class="txt">최종 합격</p>
                                        </div>
                                    </div>
                                    <p class="mo-txt"><span class="num">STEP 5</span>최종 합격 후 처우 협의를 거쳐 입사가 확정됩니다.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="recruit-cont-how">
                        <li>
                            <div class="tit">
                                <strong>지원서 제출</strong>
                            </div>
                            <div class="txt">
                                <p>나는 어떤 사람인지 알려주세요. <br>오토플러스와 함께하기 위해 나를 알릴 수 있는 내용이라면 무엇이든 좋습니다. <br>(소중한 개인정보보호를 위해 이력과 무관한 개인정보는 기재하지 말아주세요.)</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit">
                                <strong>인적성 검사</strong>
                            </div>
                            <div class="txt">
                                <p>지원하신 분을 보다 다방면에서 판단하기 위해 인적성 검사를 진행해요.</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit">
                                <strong>인터뷰</strong>
                            </div>
                            <div class="txt">
                                <p>지원하신 분의 역량을 심층적으로 평가하기 위해 실무진 및 임원 인터뷰를 진행해요.<br>(제출하신 지원서 검토 후 개별 연락을 드리며 포지션에 따라 인터뷰는 2차까지 진행 될 수 있어요.)</p>
                            </div>
                        </li>
                        <li>
                            <div class="tit">
                                <strong>최종 합격</strong>
                            </div>
                            <div class="txt">
                                <p>최종 합격 후 처우 협의를 거쳐 입사가 확정됩니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="recruit-cont-board" data-motion="slide-up" data-duration="1" data-delay="0">
                <div class="inner">
                    <p class="int-txt">현재 진행 중인 채용정보를 알려드릴게요.</p>

                    <div class="recruit-board-head">
                        <p>총 4건</p>
                        <div class="tab-sort">
                            <a href="javascript: void(0);" class="btn active">진행중</a>
                            <a href="javascript: void(0);" class="btn">종료됨</a>
                        </div>
                    </div>
                    <div class="recruit-board-list">
                        <div class="row">
                            <div class="tit">
                                <p>용인물류센터  PDI 및 사무총무 담당 신입/경력 모집</p>
                                <span class="day">D-20</span>
                            </div>
                            <div class="infos">
                                <span>2024.01.01 ~ 2024.01.21</span>
                                <span>신입·경력</span>
                                <span>정규직</span>
                                <span>학력무관</span>
                                <span>경기 용인시</span>
                            </div>
                            <button type="button" class="btn"><span>지원하기</span></button>
                        </div>
                        <div class="row">
                            <div class="tit">
                                <p>용인물류센터  PDI 및 사무총무 담당 신입/경력 모집</p>
                                <span class="day">D-20</span>
                            </div>
                            <div class="infos">
                                <span>2024.01.01 ~ 2024.01.21</span>
                                <span>신입·경력</span>
                                <span>정규직</span>
                                <span>학력무관</span>
                                <span>경기 용인시</span>
                            </div>
                            <button type="button" class="btn"><span>지원하기</span></button>
                        </div>
                        <div class="row">
                            <div class="tit">
                                <p>용인물류센터  PDI 및 사무총무 담당 신입/경력 모집</p>
                                <span class="day">D-20</span>
                            </div>
                            <div class="infos">
                                <span>2024.01.01 ~ 2024.01.21</span>
                                <span>신입·경력</span>
                                <span>정규직</span>
                                <span>학력무관</span>
                                <span>경기 용인시</span>
                            </div>
                            <button type="button" class="btn"><span>지원하기</span></button>
                        </div>
                        <div class="row">
                            <div class="tit">
                                <p>용인물류센터  PDI 및 사무총무 담당 신입/경력 모집</p>
                                <span class="day">D-20</span>
                            </div>
                            <div class="infos">
                                <span>2024.01.01 ~ 2024.01.21</span>
                                <span>신입·경력</span>
                                <span>정규직</span>
                                <span>학력무관</span>
                                <span>경기 용인시</span>
                            </div>
                            <button type="button" class="btn"><span>지원하기</span></button>
                        </div>
                        <!-- # 모집 종료 : end 클래스 추가 -->
                        <div class="row end">
                            <div class="tit">
                                <p>용인물류센터  PDI 및 사무총무 담당 신입/경력 모집</p>
                                <span class="day">D-20</span>
                            </div>
                            <div class="infos">
                                <span>2024.01.01 ~ 2024.01.21</span>
                                <span>신입·경력</span>
                                <span>정규직</span>
                                <span>학력무관</span>
                                <span>경기 용인시</span>
                            </div>
                            <!-- # 모집 종료 : disabled 추가 -->
                            <button type="button" class="btn" disabled><span>종료됨</span></button>
                        </div>
                    </div>
                    <div class="recruit-board-more">
                        <a href="javascript: void(0);" class="more">더보기</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--// -->

    <!-- footer -->
    <footer id="footer">
        <div class="inner">
            <div class="footer-left">
                <div class="flex-wrap">
                    <div class="flex-row">
                        <div class="flex-col tit">오토플러스(주)</div>
                        <div class="flex-col cont">
                            <ul>
                                <li>대표자 : 송재성</li>
                                <li>사업자등록번호 : 105-86-06429</li>
                                <li>통신판매업 신고 : 2020-서울영등포-1338</li>
                                <li class="flex-wide">서울특별시 영등포구 선유동2로 57 이레빌딩 신관 11층</li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-col tit">고객센터</div>
                        <div class="flex-col cont">
                            <ul>
                                <li><strong>1544-2277</strong></li>
                                <li>평일 09:00~18:00 토, 일, 공휴일 휴무</li>
                                <li>제휴협력 및 PR문의 : <a href="mailto:autoplus@autoplus.co.kr">autoplus@autoplus.co.kr</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-col cont">
                            <p class="copyright">Copyrightⓒ2018 By AutoPlus.Co.Ltd. All right reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="flex-row footer-sns-wrap">
                    <ul class="footer-sns-ico">
                        <li class="blog"><a href="https://blog.naver.com/autoplus_reborn/" target="_blank"><img src="../resources/images/common/ico_foo_naver.png" alt="네이버블로그"></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/reborncar/" target="_blank"><img src="../resources/images/common/ico_foo_insta.png" alt="인스타그램"></a></li>
                        <li class="facebook"><a href="https://www.facebook.com/reborncar.co.kr/" target="_blank"><img src="../resources/images/common/ico_foo_facebook.png" alt="페이스북"></a></li>
                        <li class="youtube"><a href="https://www.youtube.com/channel/UClflgGB-o7wRuMMQ3pEiJDw" target="_blank"><img src="../resources/images/common/ico_foo_youtube.png" alt="유튜브"></a></li>
                        <li class="kakaoplus"><a href="https://pf.kakao.com/_tqjvC" target="_blank"><img src="../resources/images/common/ico_foo_kakao.png" alt="카카오톡"></a></li>
                    </ul>
                </div>
                <div class="flex-row footer-app-wrap">
                    <div class="footer-app-ico">
                        <p>APP<br>다운로드&ensp;&gt;</p>
                        <div class="ico aos">
                            <img src="../resources/images/common/ico_aos_down.png" alt="플레이스토어">
                        </div>
                        <div class="ico ios">
                            <img src="../resources/images/common/ico_ios_down.png" alt="앱스토어">
                        </div>
                    </div>
                    <div class="footer-app-qr">
                        <img src="../resources//images/common/img_qr_link.png" alt="오토플러스 리본카 앱 다운로드하기">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--// -->

    <section class="layer" id="layer-inquiry">
        <div class="layer-inner">
            <button type="button" class="layer-btn-close cancel"><span>닫기</span></button>
            <p class="state"></p>
            <div class="layer-cont">
                <strong>채용 관련 문의</strong>
                <p class="email">recruit@autoplus.co.kr</p>
            </div>
            <div class="layer-btn-group">
                <a href="javascript: fn_ContentsShare('C');" class="btn">주소 복사 하기</a>
                <a href="mailto:recruit@autoplus.co.kr" class="btn">이메일 열기</a>
            </div>
        </div>
    </section>

    <script src="../resources/js/jquery-3.3.1.min.js"></script>
    <script src="../resources/js/swiper.min.js"></script>
    <script src="../resources/js/custom.js"></script>
    
    <script tpye="text/javascript">
        function fn_ContentsShare(){
            var url = window.location.href;
            var tempElem = document.createElement('input');
			try{
				tempElem.value = url;
				document.body.appendChild(tempElem);
				tempElem.select();
				if(document.execCommand('copy'))
                $('#layer-inquiry .state').html('클립보드에 복사 되었습니다.<br>붙여넣기를 해주세요.').addClass('show');
			} catch(e){
				$('#layer-inquiry .state').html('복사 실패:'+e).addClass('show');
			}
			document.body.removeChild(tempElem);
        }

        function layerPopOpen(obj){
            if($(obj).length && !$(obj).is(':visible')){
                $(obj).addClass('show').fadeIn();

                $(obj).find('.cancel').on('click', function(){
                    $(obj).removeClass('show').fadeOut(function(){
                        if($(obj).find('.state').hasClass('show')) $(obj).find('.state').removeClass('show');
                    });
                });
            }
        }

        function swiperMake(obj){
            if(mediaCheck() === 'mobile'){
                var _list = $(obj)
                ,   _make = '';

                _make += '<div class="swiper-button-prev"></div><div class="swiper-button-next"></div>';
                _list.append(_make);

                var circleSwiper = new Swiper('.recruit-cont-step .swiper-container', {
                    speed: 400,
                    loop: true,
                    slidesPerView: 1,
                    // spaceBetween: 20,
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: false,
                    },
                    navigation: {
                        nextEl: '.recruit-cont-step .swiper-button-next',
                        prevEl: '.recruit-cont-step .swiper-button-prev',
                    },
                });
            }
        }

        $(document).ready(function(){
            //
            swiperMake('.recruit-cont-step');

            // animation
            var recruitMotion = new animationAction({
                state : true,
                obj : 'motion'
            });

            var idx = 0;
            setInterval(time, 1500);
            function time(){
                var step = $('.recruit-cont-step li');
                step.removeClass('active');
                step.eq(idx).addClass('active');
                idx++;
                if(idx >= step.length) idx = 0;
            }
        });
    </script>
</body>
</html>