@-webkit-keyframes craneLeft {
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
  50% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes craneLeft {
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
  50% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes craneRight {
  30% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
  50% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes craneRight {
  30% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
  50% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes posX {
  to {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes posX {
  to {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes posY {
  to {
    top: -3.125rem;
  }
}
@keyframes posY {
  to {
    top: -3.125rem;
  }
}
@-webkit-keyframes rollbak {
  to {
    top: -7.5rem;
  }
}
@keyframes rollbak {
  to {
    top: -7.5rem;
  }
}
@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(-1.25rem) rotate(30deg);
            transform: translateX(-1.25rem) rotate(30deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(2.5rem) rotate(-30deg);
            transform: translateX(2.5rem) rotate(-30deg);
  }
  75% {
    -webkit-transform: translateX(-0.625rem) rotate(30deg);
            transform: translateX(-0.625rem) rotate(30deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    top: 90vh;
    opacity: 0;
  }
}
@keyframes fall {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(-1.25rem) rotate(30deg);
            transform: translateX(-1.25rem) rotate(30deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(2.5rem) rotate(-30deg);
            transform: translateX(2.5rem) rotate(-30deg);
  }
  75% {
    -webkit-transform: translateX(-0.625rem) rotate(30deg);
            transform: translateX(-0.625rem) rotate(30deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    top: 90vh;
    opacity: 0;
  }
}
@-webkit-keyframes fall2 {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(-0.625rem) rotate(10deg);
            transform: translateX(-0.625rem) rotate(10deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(1.875rem) rotate(-10deg);
            transform: translateX(1.875rem) rotate(-10deg);
  }
  75% {
    -webkit-transform: translateX(-0.625rem) rotate(14deg);
            transform: translateX(-0.625rem) rotate(14deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    top: 50vh;
    opacity: 0;
  }
}
@keyframes fall2 {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(-0.625rem) rotate(10deg);
            transform: translateX(-0.625rem) rotate(10deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(1.875rem) rotate(-10deg);
            transform: translateX(1.875rem) rotate(-10deg);
  }
  75% {
    -webkit-transform: translateX(-0.625rem) rotate(14deg);
            transform: translateX(-0.625rem) rotate(14deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    top: 50vh;
    opacity: 0;
  }
}
@-webkit-keyframes twinkle {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.2;
  }
}
@keyframes twinkle {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.2;
  }
}
@-webkit-keyframes upScale {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes upScale {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.draw-promo-wrap {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  padding: 1.875rem 1.875rem 2.5rem;
  background: url("../images/bg_draw_promo.png") no-repeat center top/cover #aaa;
  overflow: hidden;
}
.draw-promo-wrap * {
  font-family: "GmarketSans";
  line-height: 1.2;
}
.draw-promo-wrap.bgChange {
  background-image: url("../images/bg_draw_promo_send.png");
}
.draw-promo-wrap .draw-cont-btn {
  position: relative;
  z-index: 2;
}
.draw-promo-wrap .draw-cont-btn .base-btn {
  position: relative;
  display: block;
  max-width: 17.5rem;
  width: 100%;
  height: 3.75rem;
  margin: 1.25rem auto 0;
  border-radius: 0.625rem;
  background: url("../images/bg_draw_btn.png") no-repeat center/100%;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 4.0625rem;
  color: #fff;
  letter-spacing: -0.0625rem;
  text-align: center;
  overflow: hidden;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.draw-promo-wrap .draw-cont-btn .base-btn.arr:after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 0.875rem;
  height: 1.5rem;
  margin: 1.125rem 0 0 0.75rem;
  background: url("../images/ico_btn_arr.png") no-repeat center/100% auto;
}
.draw-promo-wrap .draw-cont-btn .base-btn:disabled {
  -webkit-box-shadow: 0.0625rem 0 0.25rem 0.25rem rgba(0, 0, 0, 0.08) inset;
          box-shadow: 0.0625rem 0 0.25rem 0.25rem rgba(0, 0, 0, 0.08) inset;
  background: #aaa;
  pointer-events: none;
  cursor: none;
}
.draw-promo-wrap .draw-cont-btn p {
  margin: 0.625rem auto 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  letter-spacing: -0.125rem;
  text-align: center;
}
.draw-promo-wrap .draw-promo-head {
  word-break: keep-all;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ee1c7a;
  letter-spacing: -0.1875rem;
  text-align: center;
}
.draw-promo-wrap .draw-promo-head p {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.0625rem;
}
.draw-promo-wrap .draw-promo-head p strong {
  font-weight: 700;
}
.draw-promo-wrap .draw-cont-machine {
  position: relative;
  z-index: 1;
  margin: 1.75rem -0.5rem 0;
}
.draw-promo-wrap .draw-cont-machine .obj {
  position: absolute;
  left: 0.625rem;
  top: -2.5rem;
  z-index: 1;
  width: 2.0625rem;
  height: 1.5625rem;
  pointer-events: none;
  opacity: 0.4;
  -webkit-animation: fall 6s infinite ease-in-out;
          animation: fall 6s infinite ease-in-out;
}
.draw-promo-wrap .draw-cont-machine .obj.flower02 {
  left: auto;
  right: 0.625rem;
  top: 15rem;
  width: 2.625rem;
  height: 1.875rem;
}
.draw-promo-wrap .draw-cont-machine .obj.leaves01 {
  left: auto;
  right: 0;
  top: 10rem;
  width: 3.125rem;
  height: 2.5rem;
  -webkit-animation-name: fall2;
          animation-name: fall2;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.draw-promo-wrap .draw-cont-machine .machine-body {
  position: relative;
  max-width: 14.5rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: url("../images/bg_draw_body.png") no-repeat center/100% auto;
}
.draw-promo-wrap .draw-cont-machine .machine-body:before {
  content: "";
  display: block;
  padding-top: 137.5%;
}
.draw-promo-wrap .draw-cont-machine .machine-body:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1.25rem;
  z-index: -1;
  width: calc(100% + 5rem);
  height: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../images/bg_draw_body_shadow.png") no-repeat center/100% auto;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame {
  position: absolute;
  left: 50%;
  top: 1.40625rem;
  z-index: 1;
  width: calc(100% - 3.4375rem);
  height: 58.9%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 50%;
  background: url("../images/bg_draw_body_dummy.png") no-repeat center bottom/100% auto;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame .machine-crane {
  position: absolute;
  left: 1.875rem;
  top: -7.5rem;
  z-index: 2;
  width: 2.0625rem;
  height: 12.9375rem;
  background: url("../images/img_crane_body.png") no-repeat center bottom/100% auto;
  pointer-events: none;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame .machine-crane .machine-crane-left {
  position: absolute;
  left: -1.125rem;
  bottom: -0.375rem;
  z-index: 1;
  width: 1.875rem;
  height: 3rem;
  background: url("../images/img_crane_left.png") no-repeat center/100% auto;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame .machine-crane .machine-crane-right {
  position: absolute;
  right: -1.125rem;
  bottom: -0.375rem;
  z-index: 1;
  width: 1.875rem;
  height: 3rem;
  background: url("../images/img_crane_right.png") no-repeat center/100% auto;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame .machine-crane.active {
  -webkit-animation: posX 1.4s ease-in forwards, posY 2s ease-out 1.4s forwards, rollbak 1.4s ease-in 4s forwards;
          animation: posX 1.4s ease-in forwards, posY 2s ease-out 1.4s forwards, rollbak 1.4s ease-in 4s forwards;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame .machine-crane.active:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1.75rem;
  width: 3.375rem;
  height: 3.375rem;
  margin-left: -1.6875rem;
  background: url("../images/img_deal_ran.png") no-repeat center/100% auto;
  opacity: 0;
  -webkit-animation: show 0.4s ease-in 4s forwards;
          animation: show 0.4s ease-in 4s forwards;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame .machine-crane.active .machine-crane-left {
  -webkit-animation: craneLeft 2s linear 1.6s forwards;
          animation: craneLeft 2s linear 1.6s forwards;
}
.draw-promo-wrap .draw-cont-machine .machine-body .machine-frame .machine-crane.active .machine-crane-right {
  -webkit-animation: craneRight 2s linear 1.6s forwards;
          animation: craneRight 2s linear 1.6s forwards;
}
.draw-promo-wrap .draw-cont-machine .deal-machine-btn {
  position: relative;
  z-index: 2;
}
.draw-promo-wrap .draw-cont-machine .deal-machine-btn a {
  display: block;
  max-width: 17.5rem;
  width: 100%;
  height: 3.75rem;
  margin: 1.25rem auto 0;
  background: url("../images/img_deal_btn.png") no-repeat center/100%;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 4.25rem;
  color: #fff;
  letter-spacing: -0.0625rem;
  text-align: center;
}
.draw-promo-wrap .draw-cont-machine .deal-machine-btn p {
  margin: 1.25rem auto 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  letter-spacing: -0.0625rem;
  text-align: center;
}
.draw-promo-wrap .draw-cont-benefit {
  margin: -2.5rem -1.5625rem 0;
}
.draw-promo-wrap .draw-cont-benefit .bene-img {
  text-align: center;
}
.draw-promo-wrap .draw-result-wrap {
  display: none;
  margin: 1.5625rem auto 0;
}
.draw-promo-wrap .draw-result-wrap h2 {
  margin: 0 -1.25rem;
  word-break: keep-all;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  letter-spacing: -0.1875rem;
  text-align: center;
}
.draw-promo-wrap .draw-result-wrap h2 p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.125rem;
}
.draw-promo-wrap .draw-result-wrap .inp-box {
  margin: 2.5rem auto 0;
  text-align: center;
}
.draw-promo-wrap .draw-result-wrap .inp-box p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  letter-spacing: -0.125rem;
}
.draw-promo-wrap .draw-result-wrap .inp-box input {
  max-width: 17.5rem;
  width: 100%;
  height: 3.75rem;
  margin: 0.9375rem auto 0;
  border: 1px solid #fff;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.3) inset;
  background-color: #fff;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  letter-spacing: -0.125rem;
  text-align: center;
}
.draw-promo-wrap .draw-result-wrap .inp-box input::-webkit-input-placeholder {
  color: #ccc;
}
.draw-promo-wrap .draw-result-wrap .inp-box input::-moz-placeholder {
  color: #ccc;
}
.draw-promo-wrap .draw-result-wrap .inp-box input:-ms-input-placeholder {
  color: #ccc;
}
.draw-promo-wrap .draw-result-wrap .inp-box input::-ms-input-placeholder {
  color: #ccc;
}
.draw-promo-wrap .draw-result-wrap .inp-box input::placeholder {
  color: #ccc;
}
.draw-promo-wrap .draw-result-wrap .result-box {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 50vh;
  margin-left: -50%;
}
.draw-promo-wrap .draw-result-wrap .result-box:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 6.875rem;
  z-index: 1;
  width: 13rem;
  height: 13rem;
  margin-left: -6.5rem;
  background: url("../images/img_rank_result_04.png") no-repeat center/100% auto;
  opacity: 0;
}
.draw-promo-wrap .draw-result-wrap .result-box.rank1:after {
  background-image: url("../images/img_rank_result_01.png");
}
.draw-promo-wrap .draw-result-wrap .result-box.rank2:after {
  background-image: url("../images/img_rank_result_02.png");
}
.draw-promo-wrap .draw-result-wrap .result-box.rank3:after {
  background-image: url("../images/img_rank_result_03.png");
}
.draw-promo-wrap .draw-result-wrap.show .result-box::after {
  -webkit-animation: upScale 0.6s ease-in-out forwards;
          animation: upScale 0.6s ease-in-out forwards;
}
.draw-promo-wrap .draw-result-wrap.show .obj2 {
  position: absolute;
  left: 2.8125rem;
  top: 5.625rem;
  z-index: 5;
  width: 4.375rem;
  height: 5rem;
  pointer-events: none;
  opacity: 0.6;
  -webkit-animation: twinkle 1s infinite ease-in-out;
          animation: twinkle 1s infinite ease-in-out;
}
.draw-promo-wrap .draw-result-wrap.show .obj2.twinkle02 {
  left: 2.1875rem;
  top: 13.4375rem;
  width: 4.875rem;
  height: 4.875rem;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.draw-promo-wrap .draw-result-wrap.show .obj2.twinkle03 {
  left: auto;
  right: 1.5625rem;
  top: 13.25rem;
  width: 4.6875rem;
  height: 4.9375rem;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.draw-promo-wrap .draw-send-wrap {
  display: none;
  margin: 1.5625rem auto 0;
}
.draw-promo-wrap .draw-send-wrap.show .obj {
  position: absolute;
  right: 0.625rem;
  top: 10rem;
  z-index: 1;
  width: 3.125rem;
  height: 2.5rem;
  pointer-events: none;
  opacity: 0.4;
  -webkit-animation: fall2 6s infinite ease-in-out;
          animation: fall2 6s infinite ease-in-out;
}
.draw-promo-wrap .draw-send-wrap.show .obj.leaves02 {
  top: auto;
  bottom: 5.3125rem;
  right: auto;
  left: 2.8125rem;
  z-index: 3;
  width: 2rem;
  height: 2.25rem;
  -webkit-animation: none;
          animation: none;
  opacity: 1;
}
.draw-promo-wrap .draw-send-wrap h2 {
  margin: 0.625rem -0.9375rem;
  word-break: keep-all;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  letter-spacing: -0.125rem;
  text-align: center;
}
.draw-promo-wrap .draw-send-wrap h2 p {
  margin-top: 0.5rem;
  word-break: keep-all;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.125rem;
}
.draw-promo-wrap .draw-send-wrap .send-img {
  text-align: center;
}
.draw-promo-wrap .draw-send-wrap .send-img img {
  max-width: 9.625rem;
}

.draw-promo-noti .tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
  background-color: #568b00;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  letter-spacing: -0.03125rem;
  text-align: center;
}
.draw-promo-noti .noti-list {
  padding: 2.5rem 1.875rem;
  background-color: #6cae02;
}
.draw-promo-noti .noti-list strong {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: -0.03125rem;
  text-align: left;
}
.draw-promo-noti .noti-list ul {
  margin-top: 0.875rem;
}
.draw-promo-noti .noti-list ul li {
  position: relative;
  padding-left: 0.375rem;
  word-break: keep-all;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #fff;
  letter-spacing: -0.03125rem;
  text-align: left;
}
.draw-promo-noti .noti-list ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.375rem;
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 100%;
  background-color: #fff;
}