@charset "utf-8";
@import '../../../common/scss/mixin';

#header {
    @include pos($p: fixed, $l: 0, $t: 0, $z: 2);
    width: 100%;
    height: px(50);
    line-height: px(50);
    padding: px(20) px(30);
    box-sizing: border-box;
    text-align: center;
    .side-allmenu-btn {
        @include pos($p: absolute, $r: px(30), $t: 50%, $z: 1);
        width: px(30);
        height: px(25);
        padding: px(5);
        font-size: 0;
        transform: translateY(-50%);
        cursor: pointer;
        span {
            position: absolute;
            width: px(20);
	        height: px(2);
            background-color: #fff;
            transition-duration: .6s;
            &.line1 {
                top: px(5);
            }
            &.line2 {
                top: 50%;
                margin-top: px(-1);
                opacity: 1;
            }
            &.line3 {
                bottom: px(5);
            }
        }
        &.open span {
            background-color: #000;
            &.line1 {
                transform: rotate(225deg);
                top: px(12);
            }
            &.line2 {
                transform: translateX(px(-30));
                opacity: 0;
            }
            &.line3 {
                transform: rotate(-225deg);	
                bottom: px(11);
            }
        }
    }
}
#container {
    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: #000;
        @include font($s: px(40), $w: 600, $l: 1.2, $c: #fff, $t : px(2), $a: center);
    }
}
.side-allmenu-wrap {
    @include pos($p: fixed, $l: 0, $t: 0, $z: 1);
    width: 0;
    overflow: hidden;
    background-color: #aaa;
    transition-duration: .6s;
    .side-allmenu-inner {
        position: relative;
        z-index: 4;
        width: 100%;
        height: 100%;
        padding: px(100);
        box-sizing: border-box;
        .allMenu {
            display: inline-block;
            li { 
                display: block;
                margin-bottom: px(10);
                p {
                    display: inline-block;
                    @include font($s: px(20), $c: #000);
                    text-shadow: 0 0 8px rgba(0,0,0,.1);
                    white-space: nowrap;
                    cursor: pointer;
                }
                &.active {
                    font-weight: 900;
                    p:after {
                        width: 100%;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.open {
        width: 100%;    
    }
}
.side-progressbar {
    @include pos($p: fixed, $l: 0, $t: 0, $z: 3);
	width: px(3);
	height: 100%;
	background-color: rgba(255, 255, 255, .4);
	box-shadow: 0 0 px(4) rgba(0,0,0,.1);
	overflow: hidden;
    span {
        @include pos($p: absolute, $l: 0, $t: 0);
        width: 100%;
        background-color: #fff;
        transition-duration: .6s;
    }
}
