.modern-wrapper {
  position: relative;
  margin: 2.5rem auto;
}

.modern-container {
  position: relative;
  width: 12.5rem;
  height: 8.75rem;
  margin: 0 auto;
  overflow: hidden;
}

.modern-list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: var(--ease-in-quad) var(--trans-duration);
  transform: translateX(0);
}

.modern-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}
.modern-item:nth-child(1) {
  background-color: var(--color-base1);
}
.modern-item:nth-child(2) {
  background-color: var(--color-base2);
}
.modern-item:nth-child(3) {
  background-color: var(--color-base3);
}
.modern-item:nth-child(4) {
  background-color: var(--color-base4);
}

.modern-pagination {
  display: block;
  margin: 0.625rem auto 0;
  text-align: center;
}
.modern-pagination span {
  font-size: 0.75rem;
  color: var(--color-gray9);
  cursor: pointer;
}
.modern-pagination span.active {
  color: var(--color-black);
}
.modern-pagination span ~ span {
  margin-left: 0.25rem;
}

.modern-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  border: 0.0625rem solid var(--color-base3);
  transform: translateY(-50%);
  cursor: pointer;
}
.modern-arrow[class*=prev] {
  left: calc((100% - 12.5rem) / 2 - 3rem);
  background-image: url("../images/ico_arr_left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.75rem;
  background-color: var(--color-base2);
}
.modern-arrow[class*=next] {
  right: calc((100% - 12.5rem) / 2 - 3rem);
  background-image: url("../images/ico_arr_right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.75rem;
  background-color: var(--color-base2);
}