#container {
  padding: 6.25rem 1.25rem;
}
#container .luckyEl {
  width: 100%;
  max-width: 18.75rem;
  margin: 0 auto;
  text-align: center;
}
#container .luckyEl h3 ~ h3 {
  margin-top: 0.3125rem;
}
#container .luckyEl h3 span {
  display: inline-block;
  min-width: 3.125rem;
  text-align: right;
}
#container .luckyEl h3 span.com1 {
  min-width: unset;
}
#container .luckyEl h4 {
  margin-top: 1.25rem;
  font-size: 0.875rem;
}
#container .luckyEl h4 .me {
  margin-right: 1.25rem;
}
#container .luckyEl h4.info p ~ p {
  display: none;
}
#container .luckyEl > p {
  margin-top: 0.625rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}
#container .luckyEl > p .chap {
  font-weight: 700;
  color: #b00;
}
#container .luckyEl strong {
  display: block;
  margin-top: 0.625rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}
#container .luckyEl strong .result {
  display: block;
  min-height: 1.625rem;
  margin-top: 1.25rem;
  font-size: 1.625rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #00FF8C, #242CBF);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#container .luckyEl strong .result.gray {
  background-image: linear-gradient(to right, #eb0000, #242CBF);
}
#container .luckyEl strong.restore {
  margin-top: 1.25rem;
  line-height: 1.4;
  word-break: keep-all;
}
#container .luckyEl strong.restore b {
  display: block;
  margin-bottom: 0.625rem;
  line-height: 1.2;
  font-family: "IMPACT";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  background-image: linear-gradient(to right, #eb0000, #242CBF);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#container .luckyEl .chk_wrap {
  margin-bottom: 1.875rem;
  text-align: center;
}
#container .luckyEl .chk {
  position: relative;
  display: block;
}
#container .luckyEl .chk input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.0625rem;
  height: 0.0625rem;
  background-color: transparent;
}
#container .luckyEl .chk input:checked + label {
  border-color: #555;
  background-color: #555;
}
#container .luckyEl .chk input:checked + label:before {
  transform: translateX(1.5rem);
}
#container .luckyEl .chk label {
  position: relative;
  display: block;
  width: 3.75rem;
  height: 2.25rem;
  margin: 0.625rem auto 0;
  border: 0.125rem solid #ddd;
  box-sizing: border-box;
  border-radius: 1.25rem;
  background-color: #eee;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  color: #fff;
  letter-spacing: 0;
  transition-duration: 0.4s;
}
#container .luckyEl .chk label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #fff;
  transition-duration: 0.4s;
}
#container .luckyEl .inner {
  margin-top: 20px;
  text-align: center;
}
#container .luckyEl .inner .sel {
  position: relative;
}
#container .luckyEl .inner .sel select {
  display: block;
  width: 100%;
  height: 2.5rem;
  border: 0.0625rem solid #ddd;
  padding: 0 1.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #333;
}
#container .luckyEl .inner .sel .arr {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: -0.625rem;
  pointer-events: none;
  transition-duration: 0.4s;
}
#container .luckyEl .inner .sel .arr:before, #container .luckyEl .inner .sel .arr:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0.5rem;
  height: 0.125rem;
  margin-top: -0.0625rem;
  border-radius: 0.125rem;
  background-color: #555;
}
#container .luckyEl .inner .sel .arr:before {
  left: 50%;
  margin-left: -0.375rem;
  transform: rotate(45deg);
}
#container .luckyEl .inner .sel .arr:after {
  right: 50%;
  margin-right: -0.4375rem;
  transform: rotate(-45deg);
}
#container .luckyEl .inner .sel .arr.open {
  transform: rotate(180deg);
}
#container .luckyEl .inner button {
  width: 100%;
  height: 2.75rem;
  margin-top: 1.25rem;
  border: 0.0625rem solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  color: #333;
}
#container .luckyEl .result_pop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition-duration: 0.4s;
}
#container .luckyEl .result_pop .result_inner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: calc(100% - 4rem);
  height: auto;
  max-width: 21.25rem;
  max-height: calc(100% - 4rem);
  border-radius: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transform: translate(-50%, -50%);
}
#container .luckyEl .result_pop .result_inner .result_pop_close {
  width: auto;
  padding: 0.625rem 1.25rem;
  margin: 1.25rem auto 0;
  background-color: #000;
  color: #fff;
}
#container .luckyEl .result_pop:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
#container .luckyEl .result_pop.open {
  opacity: 1;
  pointer-events: auto;
}