<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>리본카</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/plugin/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/contents.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/live.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/lp.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/vip.css">
    
    <!-- js -->
    <script type="text/javascript" src="../resources/js/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="../resources/js/common.js"></script>
    <script type="text/javascript" src="../resources/js/plugin/swiper.min.js"></script>
</head>
<body>
    <div id="wrap">
        <!-- header start -->
        <header></header>
        <!-- header end -->

        <!-- contents start -->
        <section></section>
        <!-- contents end -->

        <!-- footer start -->
        <footer></footer>
        <!-- footer end -->
    </div>
</body>
</html>