:root {
  --color-transparent: transparent;
  --color-black: #000;
  --color-white: #fff;
  --color-dark3: #333;
  --color-dark6: #666;
  --color-dark9: #999;
  --color-base0: #f5f5f5;
  --color-base1: #eee;
  --color-base2: #ddd;
  --color-base3: #ccc;
  --color-base4: #aaa;
  --color-point01: #2944cc;
  --color-point02: red;
  --color-point03: green;
  --color-point04: yellow;
  --shadow-base01: rgba(0, 0, 0, .16);
  --shadow-base02: rgba(0, 0, 0, .4);
  --shadow-text01: rgba(118, 118, 118, 0.2) 0.0625rem 0.0625rem, rgba(118, 118, 118, 0.2) 0.125rem 0.125rem, rgba(118, 118, 118, 0.2) 0.1875rem 0.1875rem, rgba(118, 118, 118, 0.2) 0.25rem 0.25rem, rgba(118, 118, 118, 0.2) 0.3125rem 0.3125rem, rgba(118, 118, 118, 0.2) 0.375rem 0.375rem;
  --trans-duration: .4s;
  --trans-duration-long: 2s;
  --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
  --ease-in-cubic: cubic-bezier(0.55,0.055,0.675,0.19);
  --ease-in-quart: cubic-bezier(0.895,0.03,0.685,0.22);
  --ease-in-quint: cubic-bezier(0.755,0.05,0.855,0.06);
  --ease-in-expo: cubic-bezier(0.95,0.05,0.795,0.035);
  --ease-in-circ: cubic-bezier(0.6,0.04,0.98,0.335);
  --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
  --ease-out-cubic: cubic-bezier(0.215,0.61,0.355,1);
  --ease-out-quart: cubic-bezier(0.165,0.84,0.44,1);
  --ease-out-quint: cubic-bezier(0.23,1,0.32,1);
  --ease-out-expo: cubic-bezier(0.19,1,0.22,1);
  --ease-out-circ: cubic-bezier(0.075,0.82,0.165,1);
  --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
  --ease-in-out-cubic: cubic-bezier(0.645,0.045,0.355,1);
  --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
  --ease-in-out-quint: cubic-bezier(0.86,0,0.07,1);
  --ease-in-out-expo: cubic-bezier(1,0,0,1);
  --ease-in-out-circ: cubic-bezier(0.785,0.135,0.15,0.86);
}

/* animation set */
@keyframes animStar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-62.5rem);
  }
}
@keyframes overlay {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
[data-action-motion=slide-up] {
  transform: translateY(2.5rem);
  -webkit-transform: translateY(2.5rem);
  opacity: 0;
}

[data-action-motion=slide-down] {
  transform: translateY(-2.5rem);
  -webkit-transform: translateY(-2.5rem);
  opacity: 0;
}

[data-action-motion=slide-left] {
  transform: translateX(-2.5rem);
  -webkit-transform: translateX(-2.5rem);
  opacity: 0;
}

[data-action-motion=slide-right] {
  transform: translateX(2.5rem);
  -webkit-transform: translateX(2.5rem);
  opacity: 0;
}

[data-action-motion=fade-in] {
  opacity: 0;
}

[data-action-motion=scale-up] {
  text-align: center;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  opacity: 0;
}

[data-action-motion=scale-down] {
  text-align: center;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  opacity: 0;
}

[data-action-motion=overlay-txt] {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
[data-action-motion=overlay-txt] p {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
  color: var(--color-white);
  letter-spacing: -0.03125rem;
  text-align: left;
  position: relative;
  display: inline-block;
  padding-right: 0.3125rem;
  -webkit-text-stroke: 0.0625rem var(--color-base3);
  -webkit-text-fill-color: var(--color-white);
}
[data-action-motion=overlay-txt] .cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: var(--color-black);
  letter-spacing: inherit;
  text-align: inherit;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0.0625rem 0.0625rem rgba(118, 118, 118, 0.2), 0.125rem 0.125rem rgba(118, 118, 118, 0.2), 0.1875rem 0.1875rem rgba(118, 118, 118, 0.2), 0.25rem 0.25rem rgba(118, 118, 118, 0.2), 0.3125rem 0.3125rem rgba(118, 118, 118, 0.2), 0.375rem 0.375rem rgba(118, 118, 118, 0.2);
  -webkit-text-stroke: 0.0625rem var(--color-black);
  -webkit-text-fill-color: var(--color-black);
}
[data-action-motion=overlay-txt] .cover.neon {
  background-image: linear-gradient(to right, #9c00b3, #00caff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
[data-action-motion=overlay-txt] .cover.skew {
  transform: rotateY(-20deg) skew(0, -5deg);
}
[data-action-motion=overlay-txt] .cover.overlay {
  animation-name: overlay;
}
[data-action-motion=overlay-txt].left .cover {
  left: 0.25rem;
}
[data-action-motion=overlay-txt].right .cover {
  left: -0.25rem;
}
[data-action-motion=overlay-txt].top .cover {
  top: 0.25rem;
}
[data-action-motion=overlay-txt].bottom .cover {
  top: -0.25rem;
}

[data-action-motion=typography-txt] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  width: 37.375rem;
  margin: 0 auto;
  padding: 2.5rem 0;
  overflow: hidden;
}
[data-action-motion=typography-txt] > div {
  flex: 1;
  overflow: hidden;
}
[data-action-motion=typography-txt] > div .moving {
  display: inline-block;
}
[data-action-motion=typography-txt] > div .moving .txt {
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 1.2;
  color: var(--color-white);
  letter-spacing: -0.03125rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-stroke: 0.0625rem var(--color-point01);
  -webkit-text-fill-color: var(--color-white);
}
[data-action-motion=typography-txt] > div.left {
  transform: skew(0deg, -15deg);
}
[data-action-motion=typography-txt] > div.left .txt {
  color: var(--color-point01);
  -webkit-text-stroke: 0.0625rem var(--color-point01);
  -webkit-text-fill-color: var(--color-point01);
  text-shadow: -0.625rem -0.625rem rgb(70, 100, 255), -0.5625rem -0.5625rem rgb(70, 100, 255), -0.5rem -0.5rem rgb(70, 100, 255), -0.4375rem -0.4375rem rgb(70, 100, 255), -0.375rem -0.375rem rgb(70, 100, 255), -0.3125rem -0.3125rem rgb(70, 100, 255), -0.25rem -0.25rem rgb(70, 100, 255), -0.1875rem -0.1875rem rgb(70, 100, 255), -0.125rem -0.125rem rgb(70, 100, 255), -0.0625rem -0.0625rem rgb(70, 100, 255);
}
[data-action-motion=typography-txt] > div.right {
  transform: skew(0deg, 15deg);
}
[data-action-motion=typography-txt] > div.right .box {
  transform: translate(-100%);
}

body {
  position: relative;
  background-color: var(--color-base1);
  overflow-x: hidden;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
body > [class*=snow-] {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  background: transparent;
  animation: animStar 100s linear infinite;
}
body > [class*=snow-][class*=small] {
  width: 0.125rem;
  height: 0.125rem;
}
body > [class*=snow-][class*=medium] {
  width: 0.1875rem;
  height: 0.1875rem;
}
body > [class*=snow-][class*=large] {
  width: 0.25rem;
  height: 0.25rem;
}

#container {
  position: relative;
  z-index: 1;
  padding-top: 4rem;
  transition: transform var(--trans-duration) var(--ease-in-out-quad);
}
#container::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-base01);
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}

.guide-line {
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  height: calc(100% - 4rem);
  overflow: hidden;
  pointer-events: none;
  transition: transform var(--trans-duration) var(--ease-in-out-quad);
}
.guide-line .line {
  position: absolute;
  background-color: var(--color-white);
}
.guide-line .col {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.guide-line .col .line {
  z-index: 1;
  top: 0;
  width: 0.375rem;
  height: 100%;
}
.guide-line .col .line:nth-child(1) {
  left: 16.66vw;
}
.guide-line .col .line:nth-child(2) {
  left: 33.32vw;
}
.guide-line .col .line:nth-child(3) {
  left: 49.98vw;
}
.guide-line .col .line:nth-child(4) {
  left: 66.64vw;
}
.guide-line .col .line:nth-child(5) {
  left: 83.3vw;
}
.guide-line .col .line:nth-child(1) {
  width: 0.75rem;
  z-index: -1;
}
.guide-line .col .line:nth-child(2) {
  width: 0.5rem;
  z-index: -1;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.25rem var(--shadow-base01);
}
#header h1 {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.2;
  color: var(--color-black);
  letter-spacing: -0.03125rem;
  text-align: center;
}
#header #nav-chk {
  display: none;
}
#header #nav-chk:checked + .nav-btn span:nth-child(1) {
  transform: translate(0.3125rem, 0.0625rem) rotateZ(45deg);
}
#header #nav-chk:checked + .nav-btn span:nth-child(2) {
  transform: translateX(-2rem);
}
#header #nav-chk:checked + .nav-btn span:nth-child(3) {
  transform: translateX(0.3125rem) rotate(-45deg);
}
#header .nav-btn {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 2rem;
  height: 1.5rem;
  padding: 0.125rem 0;
  margin-top: -0.75rem;
  overflow: hidden;
  cursor: pointer;
}
#header .nav-btn span {
  width: 1.5rem;
  height: 0.1875rem;
  border-radius: 2px;
  background-color: var(--color-black);
  transition: transform var(--trans-duration) var(--ease-in-out-quad);
}
#header .nav-btn span:nth-child(1) {
  transform-origin: 0 0;
}
#header .nav-btn span:nth-child(3) {
  transform-origin: 0 100%;
}
#header:has(#nav-chk:checked) + .nav-wrap {
  transform: translateX(0);
}
#header:has(#nav-chk:checked) ~ #container, #header:has(#nav-chk:checked) ~ .guide-line {
  transform: translateX(18.75rem);
}
#header:has(#nav-chk:checked) ~ #container::after {
  pointer-events: auto;
}

.nav-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 18.75rem;
  height: 100vh;
  padding: 5.25rem 1.25rem 1.25rem;
  box-shadow: 0 0.1875rem 1.25rem var(--shadow-base02);
  background-color: var(--color-base1);
  transform: translateX(-100%);
  transition: transform var(--trans-duration) var(--ease-in-out-quad);
}
.nav-wrap ul li a {
  position: relative;
  display: inline-block;
  padding: 0.625rem 0.3125rem;
  transition-duration: var(--trans-duration);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #000;
  letter-spacing: -0.03125rem;
}
.nav-wrap ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 0;
  height: 0.125rem;
  background-color: var(--color-point01);
  transition-duration: var(--trans-duration);
}
.nav-wrap ul li.active a {
  color: var(--color-point01);
}
.nav-wrap ul li.active a:after {
  width: 100%;
}

.main-title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.625rem;
  color: var(--color-black);
  display: block;
}

.sub-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: var(--color-dark6);
  display: block;
}

.modern-wrapper {
  position: relative;
  margin: 0;
  width: auto;
  height: auto;
}
.modern-wrapper .modern-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.modern-wrapper .modern-container .modern-list {
  display: flex;
  width: 100%;
  height: 100%;
  transition-timing-function: var(--ease-in-out-quad);
  transform: translateX(0);
}
.modern-wrapper .modern-container .modern-list .modern-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border: 0.375rem solid var(--color-white);
  font-size: 1.25rem;
}
.modern-wrapper .modern-container .modern-list .modern-item.active [data-action-motion=overlay-txt] .cover {
  animation-name: overlay;
}
.modern-wrapper .modern-container .modern-list .modern-item.active [data-action-motion*=slide] {
  transform: translate(0, 0);
  transition-duration: 1.5s;
  transition-delay: 0s;
  opacity: 1;
}
.modern-wrapper .modern-container .modern-list .modern-item.active [data-action-motion*=scale] {
  transform: scale(1);
  transition-duration: 1.5s;
  transition-delay: 0s;
  opacity: 1;
}
.modern-wrapper .modern-container .modern-list .modern-item.active [data-action-motion*=fade] {
  transform: scale(1);
  transition-duration: 1.5s;
  transition-delay: 0s;
  opacity: 1;
}
.modern-wrapper.vertical {
  width: 100%;
  height: calc(100vh - 4rem);
}
.modern-wrapper.vertical .modern-container {
  width: 100%;
  height: 100%;
}
.modern-wrapper.vertical .modern-container .modern-list {
  flex-direction: column;
  transform: translateY(0);
}
.modern-wrapper.vertical .modern-container .modern-list .modern-item {
  padding: 1.25rem;
}
.modern-wrapper.eventStop {
  pointer-events: none;
}
.modern-wrapper.eventStop:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modern-pagination {
  counter-reset: count;
  display: block;
  margin: 0.625rem auto 0;
  text-align: center;
}
.modern-pagination span {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  line-height: 0;
  border-radius: 100%;
  background-color: #eee;
  cursor: pointer;
}
.modern-pagination span:before {
  counter-increment: count;
  content: counter(count);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--color-gray9);
  display: inline-block;
}
.modern-pagination span.active {
  background-color: var(--color-black);
}
.modern-pagination span.active:before {
  color: var(--color-white);
}
.modern-pagination span ~ span {
  margin-left: 0.375rem;
}
.modern-pagination.progress {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.25rem;
  height: 100%;
  margin: 0;
  background-color: var(--color-base3);
}
.modern-pagination.progress span {
  position: relative;
  width: 100%;
  height: 0;
  border-radius: 0;
  background-color: var(--color-base4);
  overflow: hidden;
}
.modern-pagination.progress span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--color-dark3), var(--color-dark9));
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  color: transparent;
}

.modern-button {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: 0.0625rem solid var(--color-base3);
  transform: translateY(-50%);
  transition-duration: 0.2s;
  cursor: pointer;
}
.modern-button:before {
  font-size: 0;
  line-height: 0;
  color: transparent;
}
.modern-button[class*=prev] {
  background-image: url("../images/ico_arr_left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.875rem;
  background-color: var(--color-base2);
  left: calc((100% - 18.75rem) / 2 - 1.25rem);
}
.modern-button[class*=prev]:before {
  content: "prev";
}
.modern-button[class*=next] {
  background-image: url("../images/ico_arr_right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.875rem;
  background-color: var(--color-base2);
  right: calc((100% - 18.75rem) / 2 - 1.25rem);
}
.modern-button[class*=next]:before {
  content: "next";
}
.modern-button.none {
  pointer-events: none;
  opacity: 0.2;
}