@charset "utf-8";
@import './var';
@import './mixin';

body {
    position: relative;
    // background-color: var(--color-white);
    background-color: #f1f1f1;
    overflow-x: hidden;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
}
.page-wrapper {
    position: relative;
    z-index: 1;
    height: 100vh;
    padding-top: px(64);
    transition: transform var(--trans-duration) var(--ease-in-out-quad);
    &::after {
        content: '';
        @include pos($p: fixed, $l : 0, $t: 0, $z: 1);
        width: 100%;
        height: 100%;
        background-color: var(--shadow-base01);
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,.1) 0%, rgba(255,255,255,0) 100%);
        pointer-events: none;
    }
}
.guide-line {
    @include pos($p: absolute, $l: 0, $t: px(64));
    width: 100%;
    height: calc(100% - px(64));
    overflow: hidden;
    pointer-events: none;
    transition: transform var(--trans-duration) var(--ease-in-out-quad);
    .line {
        position: absolute;
        // background-color: var(--color-base0);
        background-color: var(--color-white);
    }
    .col {
        @include pos($p: absolute, $l: 0, $t: 0);
        width: 100%;
        height: 100%;
        .line {
            z-index: 1;
            top: 0;
            width: px(6);
            height: 100%;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    left: $i * 16.66vw;
                }
            }
            &:nth-child(1) {
                width: px(12);
                z-index: -1;
            }
            &:nth-child(2) {
                width: px(8);
                z-index: -1;
            }
        }
    }
}
.header {
    @include pos($p: fixed, $l: 0, $t: 0, $z: 10);
    @include centerElm();
    width: 100%;
    padding: px(20);
    background-color: #fff;
    box-shadow: 0 px(3) px(4) var(--shadow-base01);
    h1 {
        @include font($s: px(20), $w: 900, $l: 1.2, $a: center, $t: px(-.5), $c: var(--color-black));
    }
    #nav-chk {
        display: none;
        &:checked + .nav-btn {
            span:nth-child(1) {
                transform: translate(px(5), px(1)) rotateZ(45deg);
            }
            span:nth-child(2) {
                transform: translateX(px(-32));
            }
            span:nth-child(3) {
                transform: translateX(px(5)) rotate(-45deg);
            }
        }
    }
    .nav-btn {
        @include pos($p: absolute, $l: px(20), $t: 50%);
        @include centerElm($d: column, $j: space-between);
        width: px(32);
        height: px(24);
        padding: px(2) 0;
        margin-top: px(-12);
        overflow: hidden;
        cursor: pointer;
        span {
            width: px(24);
            height: px(3);
            border-radius: 2px;
            background-color: var(--color-black);
            transition: transform var(--trans-duration) var(--ease-in-out-quad);
            &:nth-child(1) {
                transform-origin: 0 0;
            }
            &:nth-child(3) {
                transform-origin: 0 100%;
            }
        }
    }
    &:has(#nav-chk:checked) + .nav-wrap {
        transform: translateX(0);
    }
    &:has(#nav-chk:checked) ~ .page-wrapper, 
    &:has(#nav-chk:checked) ~ .guide-line {
        transform: translateX(px(300));
    }
    &:has(#nav-chk:checked) ~ .page-wrapper::after {
        pointer-events: auto;
    }
}
.main-title {
    @include font($s: px(36), $w: 700, $l: px(42), $c: var(--color-black));
    display: block;
}
.sub-title {
    @include font($s: px(28), $w: 700, $l: px(36), $c: var(--color-dark6));
    display: block;
}
.nav-wrap {
    @include pos($p: fixed, $l: 0, $t: 0, $z: 9);
    width: px(300);
    height: 100vh;
    padding: px(84) px(20) px(20);
    box-shadow: 0 px(3) px(20) var(--shadow-base02);
    background-color: var(--color-base1);
    transform: translateX(-100%);
    transition: transform var(--trans-duration) var(--ease-in-out-quad);
    ul {
        li {
            @include font($s: px(20), $l: px(24), $w: 700, $t: px(-.5), $c: #000);
        }
    }
}
