@charset "utf-8";
@import './mixin';

.modern-wrapper {
    position: relative;
    margin: 0;
    width: auto;
    height: auto;
    .modern-container {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        .modern-list {
            display: flex;
            width: 100%;
            height: 100%;
            transition-timing-function: var(--ease-in-out-quad);
            transform: translateX(0);
            .modern-item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 100%;
                height: 100%;
                border: px(6) solid var(--color-white);
                font-size: px(20);
                &.active {
                    [data-action-motion="overlay-txt"] .cover {
                        animation-name: overlay;
                    }
                    [data-action-motion*="slide"] {
                        transform: translate(0, 0); 
                        transition-duration: 1.5s; 
                        transition-delay: 0s; 
                        opacity: 1;
                    }
                    [data-action-motion*="scale"] {
                        transform: scale(1); 
                        transition-duration: 1.5s; 
                        transition-delay: 0s; 
                        opacity: 1;
                    }
                    [data-action-motion*="fade"] {
                        transform: scale(1); 
                        transition-duration: 1.5s; 
                        transition-delay: 0s; 
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.vertical {
        width: 100%;
        height: calc(100vh - px(64));
        .modern-container {
            width: 100%;
            height: 100%;
            .modern-list {
                flex-direction: column;
                transform: translateY(0);
                .modern-item {
                    padding: px(20);
                }
            }
        }
    }
}
.modern-pagination {
    counter-reset: count;
    display: block;
    margin: px(10) auto 0;
    text-align: center;
    span {
        display: inline-block;
        vertical-align: middle;
        width: px(16);
        height: px(16);
        line-height: 0;
        border-radius: 100%;
        background-color: #eee;
        cursor: pointer;
        &:before {
            counter-increment: count; 
            content: counter(count);
            @include font($s: px(12), $w: 500, $l: px(16), $c: var(--color-gray9));
            display: inline-block;
        }
        &.active {
            background-color: var(--color-black);
            &:before {
                color: var(--color-white);
            }
        }
        ~ span {
            margin-left: px(6);
        }
    }
    &.progress {
        @include pos($p: absolute, $r: 0, $t: 0);
        width: px(4);
        height: 100%;
        margin: 0;
        background-color: var(--color-base3);
        span {
            position: relative;
            width: 100%;
            height: 0;
            border-radius: 0;
            background-color: var(--color-base4);
            overflow: hidden;
            &:before {
                content: '';
                @include pos($p: absolute, $l: 0, $t: 0, $z: 1);
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, var(--color-dark3), var(--color-dark9));
                -webkit-background-clip: border-box;
                -moz-background-clip: border-box;
                background-clip: border-box;
                color: transparent;
            }
        }
    }
}
.modern-button {
    @include pos($p: absolute, $t: 50%, $z: 1);
    width: px(40);
    height: px(40);
    border-radius: 100%;
    border: px(1) solid var(--color-base3);
    transform: translateY(-50%);
    transition-duration: .2s;
    cursor: pointer;
    &:before {
        @include font($s: 0, $l: 0, $c: transparent);
    }
    &[class*="prev"] {
        @include bgImg('ico_arr_left.png', no-repeat, center, auto px(14), var(--color-base2));
        left: calc((100% - px(300)) / 2 - px(20));
        &:before {
            content: 'prev';
        }
    }
    &[class*="next"] {
        @include bgImg('ico_arr_right.png', no-repeat, center, auto px(14), var(--color-base2));
        right: calc((100% - px(300)) / 2 - px(20));
        &:before {
            content: 'next';
        }
    }
    &.none {
        pointer-events: none;
        opacity: .2;
    }
}
