@charset "utf-8";
@import './mixin';

.page-wrapper {
    .inner {
        width: calc(100% - px(10));
    }
    .img-cover {
        position: relative;
        width: px(300);
        margin: px(20) auto 0;
        border-radius: px(4) 0 px(4) 0;
        box-shadow: 0 px(4) px(8) var(--shadow-base01);
        overflow: hidden;
        text-align: center;
    }
    .thumbnail {
        position: relative;
        z-index: 1;
        width: px(200);
        height: px(150);
        margin: 0 auto;
        border: px(4) solid var(--color-base4);
        border-right-color: var(--color-base3);
        border-bottom-color: var(--color-base3);
        background-color: var(--color-base4);
    }
}
